<h1 class="h1ForTitle">Дневни данни </h1>
<br />
<div class="row">
    <article>
        <section>
            <hr class="hrUnderText" />
            <p>Основна функционалност на системата е извличането на данни, необходими за изготвяне на дневни отчети.<p />
            <p>Потребителят е необходимо да потвърждава дневните данни веднъж дневно.</p>
            <p>Дневните данни не могат да се потвърдят ако не са потвърдени данните за трите смени за желания ден.</p>
            <p>След потвърждаването им, дневните данни се използват в изготвянето на месечните отчети. </p>
            <p>Потребителят избира меню „Дневни данни“, показано на Фиг.1:</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Figura119.jpg" /></p>
                <p>Фиг.1</p>
            </div>
            <p>Дневните данни се събират в пет основни групи: </p>
            <ul>
                <li>Дневни данни за измервателни позиции - Материални потоци;</li>
                <li>Дневни данни за измервателни позиции - Енергийни потоци;</li>
                <li>Сменни данни за измервателни позиции - отчет;</li>
                <li>Данни за експедирани и доставени нефтопродукти;</li>
                <li>Статус на резервоарите.</li>
            </ul>
        </section>
        <hr class="hrUnderText" />
        <div class="container" style="margin-left:18em;">
            <div class="col-md-1 divimage">
                <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="imgForStuff" />
            </div>
            <div class="col-md-11 ForStuff">
                <h4 style="text-align:center">Кой има право да обработва Дневни данни ?</h4>
                <p>
                    Право за потвърждаване на дневни данни има потребител с присъединена роля <span class="stronged">"DailyReporter"</span>.<br />
                    Право за потвърждаване на дневни данни за статус на резервоарите има само потребител с присъединена роля <span class="stronged">"TankStatusesReporter"</span>.
                </p>
            </div>
        </div>
        <br />
        <hr class="hrUnderText" />
    </article>
</div>
