<h1 class="h1ForTitle">Дневни данни за експедирани и доставени нефтопродукти</h1>
<br />
<div class="row">
    <article>
        <section>
            <hr class="hrUnderText" />
            <p>
                Дневните данни от нивомерните системи включват данни от експедирани и доставени нефтопродукти. Те се избира от меню
                <span class="stronged">Дневни данни -> Данни за експедирани и доставени нефтопродукти</span> показано на Фиг.1:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/dnevni2.png" /></p>
                <p>Фиг.1</p>
            </div>
            <p>
                Отваря се екран, съдържащ в ляво таблица „Параметри на отчета“, показана на Фиг.2 и в дясно таблица „Дневни данни за експедирани и доставени нефтопродукти“,
                показана на Фиг.3.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura55.png" /></p>
                <p>Фиг.2</p>
            </div>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura55A.png" /></p>
                <p>Фиг.3</p>
            </div>

            В таблица „Параметри на отчета“ се съдържат параметри на отчета, които задължително трябва да се попълнят, а именно:
            <ul>
                <li>Дата;</li>
                <li>Посока;</li>
            </ul>
            <p>
                Ако се натисне бутона <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>  и горепосочените полета
                не са въведени се извежда следното съобщение за грешка:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura56.png" /></p>
                <p>Фиг.4</p>
            </div>
            <p>Изборът в поле „Дата“ става по следния начин:</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura57.png" /></p>
                <p>Фиг.5</p>
            </div>
            <p>Изборът в поле „Посока“ става от падащо меню, показано на Фиг.6.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura57_Посока.png" /></p>
                <p>Фиг.6</p>
            </div>
            <p>
                След като бъдат попълнени двете полета в таблица „Параметри на отчета“ се натиска бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>. Появява се следният екран:
            </p>
        </section>

        <section>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura58.png" /></p>
                <p>Фиг.7</p>
            </div>
            <p>
                Таблица ”Данни за експедирани и доставени нефтопродукти” съдържа информация, която е необходима за изготвянето на дневния
                отчет за експедирани и доставени нефтопродукти. Всяка колона от таблицата може да бъде филтрирана по следния начин:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura59.png" /></p>
                <p>Фиг.8</p>
            </div>
            <p>
                Когато информацията в таблица “Дневни данни за експедирани и доставени нефтопродукти” е много голяма и не се събира на един екран,
                тя се прехвърля на следващи екрани като преминаването между различните екрани става чрез бутоните, показани на Фиг.9.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/ShiftData/Figura63.png" /></p>
                <p>Фиг.9</p>
            </div>
            <p>
                Данните в таблица „Данни за експедирани и доставени нефтопродукти“ не подлежат на редактиране. Те могат само да се експортват в Excel
                чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span>. Отчетът се експортира и може
                да се извика от таба за експортнатия документ, намиращ се в долния ляв ъгъл на екрана и показан на Фиг.10:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Figura60.png" /></p>
                <p>Фиг.10</p>
            </div>
        </section>
        <hr class="hrUnderText" />
        <div class="container" style="margin-left:18em;">
            <div class="col-md-1 divimage">
                <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="imgForStuff" />
            </div>
            <div class="col-md-11 ForStuff">
                <h4 style="text-align:center">Кой има право да обработва Дневни данни за експедирани и доставени нефтопродукти ?</h4>
                <p>
                    Право за генериране на Дневни данни за експедирани и доставени нефтопродукти има потребител с присъединена роля
                    <span class="stronged">"DailyReporter"</span>.
                </p>
            </div>
        </div>
        <br />
        <hr class="hrUnderText" />
    </article>
</div>
