<h1 class="h1ForTitle">Дневни данни за измервателни позиции - Енергийни потоци</h1>
<br />
<div class="row">
    <article>
        <section>
            <hr class="hrUnderText" />
            <p> Дневните данни за измервателни позиции - Енергийни потоци се избират от <span class="stronged">Дневни данни -> Дневни данни за измервателни позиции- Енергийни потоци:</span></p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Фигура120.jpg" /></p>
                <p>Фиг.1</p>
            </div>
            <p>Отваря се екран, съдържащ три таблици. В ляво на екрана се намира таблица „Параметри на отчета“, показана на Фиг.2.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Figura41.png" style="width:20em;" /></p>
                <p>Фиг.2</p>
            </div>
            <p>В средата на екрана се намира таблица „Дневни данни за измервателни позиции - Енергийни потоци“, показана на Фиг.3.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Фигура121.jpg" /></p>
                <p>Фиг.3</p>
            </div>
            <p>В дясно на екрана се намира таблица с информация за определени енергийни продукти за избраните „производство“, „инсталация“ и  „дата“, показана на Фиг.4.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Фигура122.jpg" /></p>
                <p>Фиг.4</p>
            </div>
            <p>В таблица „Параметри на отчета“ се съдържат параметри на отчета, които задължително трябва да се попълнят, а именно:</p>
            <ul>
                <li>Производство;</li>
                <li>Инсталация;</li>
                <li>Дата.</li>
            </ul>
            <p>
                Ако се натисне бутона <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span> и горепосочените полета не са въведени
                се извежда следното съобщение за грешка, показано на Фиг.5:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Figura42.png" /></p>
                <p>Фиг.5</p>
            </div>
            <p>Необходимо е да се въведат всички полета в таблица „Параметри на отчета“. Изборът в поле „Производство“ става от падащо  меню, показан на Фиг.6:</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Figura43.png" /></p>
                <p>Фиг.6</p>
            </div>
            <p>Изборът в поле „Инсталация“ става от падащо меню, показано на Фиг.7.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Figura43A.png" /></p>
                <p>Фиг.7</p>
            </div>
            <p>
                <span class="stronged">Всеки потребител вижда само имената на инсталациите, които са му присъединени към акаунта, с който влиза в системата.</span>
            </p>
            <p>Изборът в поле „Дата“ става от падащо меню както е показано на Фиг.8.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Figura44.png" /></p>
                <p>Фиг.8</p>
            </div>
            <p>
                След като бъдат въведени всички полета в таблица „Параметри на отчета“ се натиска бутон
                <span>
                    <img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" />
                </span>.
            </p>
            <span class="stronged">
                Ако дневните данни за материални потоци за посочените параметри - производство, инсталация и дата не са потвърдени
                се появява следното съобщение за грешка:
            </span>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Фигура123.jpg" /></p>
                <p>Фиг.9</p>
            </div>
            <p>
                <span class="stronged">
                    За посочените параметри - производство, инсталация трябва да са потвърдени и дневните данни за енергийните потоци и за дата, с един ден по рано от датата,
                    за която се изисква генерирането на данни. Примерно, ако е избрана дата 02.01.2016 год. в таблица „Параметри на отчета“ и дневните данни за енергийни
                    потоци за 01.02.2016 год. не са потвърдени, се извежда следното съобщение:
                </span>
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Figura130.jpg" /></p>
                <p>Фиг.10</p>
            </div>
            <p>
                <span class="stronged">
                    Ако дневните данни за измервателни позиции за материалните и енергийните потоци за посочените параметри - производство, инсталация и дата са потвърдени,
                    в таблицата “Дневни данни за измервателни позиции – Енергийни потоци“ се генерират данни, както е показано на на Фиг.11.
                </span>
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Фигура124.jpg" /></p>
                <p>Фиг.11</p>
            </div>
            <p>
                В таблицата с информация за избрани енергийни продукти за конкретните „производство“, „инсталация“ и „дата“ също се генерират данни, както
                е показано на Фиг.12:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Фигура125.jpg" /></p>
                <p>Фиг.12</p>
            </div>
            <p>Генерира се и таблица с графика „Хронология на данни за отбори за инсталация“, показана на Фиг.13.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Figura_130.jpg" /></p>
                <p>Фиг.13</p>
            </div>
            <p>
                Тя може да се увеличи на цял екран след като се натисне бутона <img class="img-rounded" src="~/Content/images/DailyData/button_Zoom.png" /> ,
                намиращ в горния десен ъгъл на таблицата, след което се появява следния екран:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Figura131.jpg" /></p>
                <p>Фиг.14</p>
            </div>
            <p>
                Графиката e съвкупност от областна графика и линейна графика. Областната графика в определен цвят визуализира количеството на конкретен
                енергиен продукт<span class="stronged">по план</span>, а линейната графика – количеството <span class="stronged">по факт</span>.
            </p>
            <p>
                По оста x на графиката са разположени дните от месеца, за който са поискани данни в таблица „Параметри на отчета“, като се зарежда информация
                за период от първо число на посочения месец до предния ден, за който са поискани дневните данни. По оста у на графиката се зарежда количество в
                тонове за всички енергийни продукти, които влизат в дневните данни. Под графиката са изписани всички енергийни продукти с цвета, с който са
                визуализирани в графиката.
            </p>
            <p>
                При позициониране върху произволна оцветена фигура в графиката се изписва името на продукта и количеството му в тонове по план за избран ден,
                намиращ се по оста x.
            </p>
            <p>
                Всеки енергиен продукт може да бъде изключен от графиката като се избере името му отдолу под оста x, показано на Фиг.15
                (в случая е изключен енергиен продукт „Произведена пара план (Т)“, който е оцветен в светло сиво):
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Figura133.jpg" /></p>
                <p>Фиг.15</p>
            </div>
            <p>
                След изключването на даден енергиен продукт той вече не е видим в графиката. Остава само линейната графика за този продукт, която показва
                количеството на продукта <span class="stronged">по факт</span>. След позициониране върху точка от произволна линия се изписва името на конкретен енергиен продукт и неговото
                количество по факт в тонове, а по оста x се вижда за кое число от месеца е тази информация, показано на Фиг.16
                ( на фигурата е маркиран енергиен продукт „Оборотна вода факт (Т)“ за 10 число от месеца).
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Figura134.jpg" /></p>
                <p>Фиг.16</p>
            </div>
            <p>Всеки енергиен  продукт може да бъде отново включен в графиката като се избере името му отдолу под оста x.</p>
            <p>
                Графиката може да се увеличава, като това става с натиснат бутон “Shift” от клавиатурата и едновременно с това копчето на мишката се движи нагоре.
                Увеличението може да се види на Фиг.17:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Figura135.jpg" /></p>
                <p>Фиг.17</p>
            </div>
            <p>
                След като графиката е увеличена, с позициониране някъде в графиката и движение на мишката наляво или на дясно има възможност да се разгледа
                детайлно количеството за избран енергиен продукт по факт или по план за избран ден.
            </p>
            <p>
                Обратно, за да се върне графиката в нормално състояние, пак се натиска бутон “Shift” от клавиатурата и едновременно с това копчето на мишката
                се движи надолу.
            </p>
            <p>
                Всеки ред от таблица „Дневни данни за измервателни позиции – Енергийни потоци“ може да бъде редактиран чрез бутон <span><img class="img-rounded" src="~/Content/images/Shiftdata/edit.png" /></span>  .
                Отваря се екран, показан на Фиг.18:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/dailyData/Фигура127.jpg" /></p>
                <p>Фиг.18</p>
            </div>
            <p>
                Колоните, които могат да бъдат редактирани са „Ръчна стойност“ и „Причина за корекция“ и те се ограждат в сив правоъгълник, а данните в
                останалите колони не подлежат на промяна.
            </p>
            <p>
                При въвеждане на дробни числа в колона "Ръчна стойност" е необходимо да се съобрази със съответните регионални настройки на компютъра,
                който използва клиента.
            </p>
            <p>
                Ако в колоните за редакция се въведе невалидна стойност се извежда следното съобщение до конкретната колона, показано на Фиг.19:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/dailyData/Фигура128.jpg" /></p>
                <p>Фиг.19</p>
            </div>
            <p>
                След въвеждане на коректни данни в колоните за редактиране се натиска бутон
                <span><img class="img-rounded" src="~/Content/images/Shiftdata/save.png" /></span> .
            </p>
            <p>
                Потребител с присъединена роля <span class="stronged">"Administrator"</span> или <span class="stronged">"HistoryManager"</span> може да види всяка направена промяна
                в таблицата. Тя се вижда след избиране на съдържанието на определена колона. Отваря се екран, съдържащ информация кой, кога и какви промени
                е правил в таблицата, както e показано на Фиг.20.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/dailyData/Фигура129.jpg" /></p>
                <p>Фиг.20</p>
            </div>
            <p>
                Потребителят с роля „DailyReporter“ внимателно преглежда всеки ред от таблицата. Когато е готов да запише отчета  натиска бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/DailyData/Potvarjdavam_red.png" style="width:140px; " /></span> и запазва дневния отчет.
                Появява се екран за успешна операция:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/dailyData/figura51.png" /></p>
                <p>Фиг.21</p>
            </div>
            <p>Веднъж потвърден дневен отчет няма възможност за повторно редактиране или потвърждаване.</p>
            <p>В таблица с информация за избрани енергийни продукти не може да се прави редактиране.</p>
            <p>
                Таблица ”Дневни данни за измервателни позиции - Енергийни потоци” съдържа информация, която е необходима за изготвянето
                на дневния отчет за измервателните позиции - Енергийни потоци.
            </p>
            <p>Всяка колона от таблицата може да бъде филтрирана по следния начин:</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Фигура126.jpg" /></p>
                <p>Фиг.22</p>
            </div>
            <p>
                В таблица „Дневни данни за измервателни позиции – Енергийни позиции“ и в таблица с информация за избрани енергийни продукти не може да се прави
                редактиране.
            </p>
            <p>
                Когато информацията в таблица “Дневни данни за измервателни позиции - Енергийни потоци” е много голяма и не се събира на един екран,
                тя се прехвърля на следващи екрани като преминаването между различните екрани става чрез бутоните, показани на Фиг.23.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/ShiftData/Figura63.png" /></p>
                <p>Фиг.23</p>
            </div>
            <p>
                Данните за дневния отчет могат да бъдат само експортирани в Excel чрез бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
            </p>
            <p>Отчетът се експортира и може да се извика от таба за експортнатия документ, намиращ се в долния ляв ъгъл на екрана и показан на Фиг.24:</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Figura60.png" /></p>
                <p>Фиг.24</p>
            </div>
        </section>
        <hr class="hrUnderText" />
        <div class="container" style="margin-left:18em;">
            <div class="col-md-1 divimage">
                <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="imgForStuff" />
            </div>
            <div class="col-md-11 ForStuff">
                <h4 style="text-align:center">Кой има право да обработва Дневни данни за измервателни позиции - Енергийни потоци ?</h4>
                <p>
                    Право за генериране на Дневни данни за измервателни позиции - Енергийни потоци има потребител с присъединена роля
                    <span class="stronged">"DailyReporter"</span>.
                </p>
            </div>
        </div>
        <br />
        <hr class="hrUnderText" />
    </article>
</div>