<h1>Дневни данни за отчети</h1>
<br />
<div class="row myrow">
    <article>
        <section>
            <p>
                Права за потвърждаване на дневни отчети има основно потребител с роля <b>"DailyReporter"</b>.
                <span><img src=" ~/Content/Images/ShiftData/images.jpg" width="24" height="45" /></span> <br />
                Потребител с посочената роля има достъп до меню „Дневни данни“, показано на Фиг.1:
            </p>
            <p><img class="img-rounded" src="~/Content/images/DailyData/Figura119.jpg" /></p>
            <p class="pCenterSmall">Фиг.1</p>

            <p>Дневните данни за отчети се събират в четири основни групи: </p>
            <p>•  Дневни данни за измервателни позиции - Материални потоци;</p>
            <p>•  Дневни данни за измервателни позиции - Енергийни потоци;</p>
            <p>•  Сменни данни за измервателни позиции - отчет;</p>
            <p>•  Данни за експедирани и доставени нефтопродукти.</p>
            <p>
                Съществува и друга група за обработка на дневни данни, наречена <b>„Статус на резервоарите“</b>, която се вижда само от потребител с присъединена роля
                <b>„TankStatussesReporter“</b>. <span><img src=" ~/Content/Images/ShiftData/images.jpg" width="24" height="45" /></span>
            </p>
        </section>
    </article>
</div>