
<div class="mycontainer">
    <h1>Дневни данни за експедирани и доставени нефтопродукти</h1>
    <br />
    <div class="row myrow">
        <article>
            <section>
                <p>
                    Дневните данни от нивомерните системи включват данни от експедирани и доставени нефтопродукти.Те се избира от меню
                    <b>Дневни данни -> Данни за експедирани и доставени нефтопродукти</b> показано на Фиг.1:
                </p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/dnevni2.png" /></p>
                <p class="pCenterSmall">Фиг.1</p>
                <p>
                    Отваря се екран, съдържащ в ляво таблица „Параметри на отчета“, показана на Фиг.2 и в дясно таблица „Дневни данни за експедирани и доставени нефтопродукти“,
                    показана на Фиг.3.
                </p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura55.png" /></p>
                <p class="pCenterSmall">Фиг.2</p>
                <p><img class="img-rounded AllTable" src="~/Content/images/DailyData/figura55A.png" /></p>
                <p class="pCenterB">Фиг.3</p>

                <p>В таблица „Параметри на отчета“ се съдържат параметри на отчета, които задължително трябва да се попълнят, а именно:
                <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span>Дата;</p>
                <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span>Посока.</p>
                <p>
                    Ако се натисне бутона <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>  и горепосочените полета
                    не са въведени се извежда следното съобщение за грешка:
                </p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura56.png" /></p>
                <p class="pCenterB">Фиг.4</p>
                <p>Изборът в поле „Дата“ става по следния начин:</p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura57.png" /></p>
                <p class="pCenterSmall">Фиг.5</p>
                <p>Изборът в поле „Посока“ става от падащо меню, показано на Фиг.6.</p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura57_Посока.png" /></p>
                <p class="pCenterSmall">Фиг.6</p>
                <p>
                    След като бъдат попълнени двете полета в таблица „Параметри на отчета“ се натиска бутон
                    <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>. Появява се следният екран:
                </p>
            </section>

            <section>
                <p><img class="img-rounded AllTable" src="~/Content/images/DailyData/figura58.png" /></p>
                <p class="pCenterB">Фиг.7</p>
                <p>
                    Таблица ”Данни за експедирани и доставени нефтопродукти” съдържа информация, която е необходима за изготвянето на дневния
                    отчет за експедирани и доставени нефтопродукти. Всяка колона от таблицата може да бъде филтрирана по следния начин:
                </p>
                <p><img class="img-rounded AllTable" src="~/Content/images/DailyData/figura59.png" /></p>
                <p class="pCenterB">Фиг.8</p>
                <p>
                    Когато информацията в таблица “Дневни данни за експедирани и доставени нефтопродукти” е много голяма и не се събира на един екран,
                    тя се прехвърля на следващи екрани като преминаването между различните екрани става чрез бутоните, показани на Фиг.9.
                </p>
                <p><img class="img-rounded myPage" src="~/Content/images/ShiftData/Figura63.png" /></p>
                <p class="pCenterB">Фиг.9</p>
                <p>
                    Данните в таблица „Данни за експедирани и доставени нефтопродукти“ не подлежат на редактиране. Те могат само да се експортват в Excel
                    чрез бутон <span><img class="img-rounded" src="~/Content/images/Shiftdata/Export.png" /></span>. Отчетът се експортира и може да се извика по
                    начин, както е показано на Фиг.10:
                </p>
                <p><img class="img-rounded myPage" src="~/Content/images/DailyData/Figura60.png" /></p>
                <p class="pCenterB">Фиг.10</p>
            </section>
        </article>
    </div>
</div>