<h1>Статус на резервоарите</h1>
<br />
<div class="row">
    <article>
        <section>
            <hr class="myhr2" style="margin-right:41.5em" />
            <div class="container" style="margin-left:-2em;">
                <div class="col-md-1 divimage">
                    <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="myimg" />
                </div>
                <div class="col-md-11 mycol11">
                    <h4 style="text-align:center">Кой има право да обработва дневните данни за Статус на резервоарите ?</h4>
                    <p>
                        Право за генериране на Статус на резервоарите има само потребител с присъединена роля
                        <span class="stronged">"TankStatussesReporter"</span>.
                    </p>
                </div>
            </div>
            <hr class="myhr2" style="margin-right:41.5em" />
            <br />
            <p>  Обработването на дневните данни за Статус на резервоарите се избира от меню, показано на Фиг.1. </p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/DailyData/Figura136.png" style="width:30%;" /></p>
            <p>Фиг.1</p>
            <p>
                Отваря се екран, съдържащ  в ляво таблица „Параметри на отчета“ и в дясно таблица „Статус на резервоарите“.
                Възможностите за работа с таблица „Параметри на отчета“ са показани в секция "Сменни данни за отчети" -> "Сменни данни за наличности по резервоари".
            </p>
            <p>
                След като бъдат въведени всички полета в таблица „Параметри на отчета“ се натиска бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span> . Появява се следният екран:
            </p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/DailyData/Figura137.png" style="width:90%;" /></p>
            <p>Фиг.2</p>
            <p>Таблицата съдържа информация, която е необходима за изготвянето на дневния отчет за статуса на резервоарите  по зададените параметри в таблица „Параметри на отчета“.</p>
            <br />
            <p>Всяка колона от таблицата може да бъде филтрирана по следния начин:</p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/DailyData/Figura138.png" /></p>
            <p>Фиг.3</p>
            <p>Всеки ред от таблицата може да бъде редактиран чрез избор на бутон <span><img class="img-rounded" src="~/Content/images/Shiftdata/edit.png" /></span>.</p>
            <p>
                Колоната, която може да бъде редактирана е „Статус на резервоарите“ и тя се огражда в син правоъгълник, показана на Фиг. 4,
                а данните в останалите колони не подлежат на промяна.
            </p>
             <p><img class="img-rounded imgboxshadow" src="~/Content/images/DailyData/Figura139.png" /></p>
            <p>Фиг.4</p>
            <p>Редактира се колоната и се натиска бутон <span><img class="img-rounded" src="~/Content/images/Shiftdata/save.png" /></span> .</p>
            <br />
            <p>При необходимост може да се изтрие ред от таблицата след избиране на бутон „Изтриване.“</p>
            <p>
                Отчетът може да бъде експортиран в Excel чрез бутон  <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
                Отчетът се експортира и може да се извика по начин, както е показано на Фиг.5:
            </p>
            <p><img class="img-rounded " src="~/Content/images/DailyData/Figura60.png" /></p>
            <p>Фиг.5</p>
        </section>
    </article>
</div>

