@{
    Layout = null;
}
<h1>Дневни данни за отчети</h1>
<br />
<div class="row myrow">
    <article>
        <section>
            <p>Права за потвърждаване на дневни отчети има основно потребител с роля "DailyReporter". Потребител с посочената роля има достъп до меню „Дневни данни“, показано на Фиг.1:</p>
            <p><img class="img-rounded" src="~/Content/images/DailyData/Дневни_данни_чисто.png" /></p>
            <p class="pCenterSmall">Фиг.1</p>

            <p>Дневните данни за отчети се събират в три основни групи: </p>
            <p>•  Дневни данни за измервателни позиции;</p>
            <p>•  Дневни данни за експедирани и доставени нефтопродукти;</p>
            <p>•  Сменни данни за измервателни позиции - отчет.</p>
        </section>
    </article>
</div>
