<h1 class="h1ForTitle">Номенклатури</h1>
<br />
<div class="row">
    <article>
        <section>
            <hr class="hrUnderText" />
            <p>Обработването на Номенклатури се избира от меню, показано на Фиг.1. </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Figua183.png" /></p>
                <p>Фиг.1</p>
            </div>
            <p>Отваря се екран, съдържащ основното меню "Управление на номенклатури", показан на Фиг.2.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Figua184.png" /></p>
                <p>Фиг.2</p>
            </div>
            <br />
            <br />
            <p class="summaryReport">Подменю "Номенклатури"</p>
            <p>При избор на подменю <span class="stronged">"Номенклатури"</span> от основното меню се отварят всички номенклатури, включени към това подменю, показани на Фиг.3.</p>
            <br />
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Figura185.png" /></p>
                <p>Фиг.3</p>
            </div>
         </section>

        <section>
            <br />
            <br />
            <p class="summaryReport">Подменю "Производствени данни"</p>
            <p>При избор на подменю <span class="stronged">"Производствени данни"</span> от основното меню се отварят всички номенклатури, включени към това подменю, показани на Фиг.4.</p>
            <br />
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Figura188.png" /></p>
                <p>Фиг.4</p>
            </div>
        </section>

        <section>
            <br />
            <br />
            <p class="summaryReport">Подменю "Наличности"</p>
            <p>При избор на подменю <span class="stronged">"Наличности"</span> от основното меню се отварят всички номенклатури, включени към това подменю, показани на Фиг.5.</p>
            <br />
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Figura190.png" /></p>
                <p>Фиг.5</p>
            </div>
        </section>

        <section>
            <br />
            <br />
            <p class="summaryReport">Подменю "Експедиция и доставки"</p>
            <p>При избор на подменю <span class="stronged">"Експедиция и доставки"</span> от основното меню се отварят всички номенклатури, включени към това подменю, показани на Фиг.6.</p>
            <br />
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Figua207.png" /></p>
                <p>Фиг.6</p>
            </div>
        </section>

        <section>
            <br />
            <br />
            <p class="summaryReport">Подменю "Месечни форми и отчети"</p>
            <p>При избор на подменю <span class="stronged">"Месечни форми и отчети"</span> се отваря екран, показан на Фиг.7.</p>
            <br />
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Nomenclature/Figua210.png" /></p>
                <p>Фиг.7</p>
            </div>
        </section>
        
        <hr class="hrUnderText" />
        <div class="container" style="margin-left:18em;">
            <div class="col-md-1 divimage">
                <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="imgForStuff" />
            </div>
            <div class="col-md-11 ForStuff">
                <h4 style="text-align:center">Кой има право да обработва Номенклатури ?</h4>
                <p>
                    Право за обработване на Номенклатури има потребител с присъединена роля <span class="stronged">"NomManager"</span>.
                </p>
            </div>
        </div>
        <br />
        <hr class="hrUnderText" />
    </article>
</div>


