<h1 class="h1ForTitle">Месечни данни </h1>
<br />
<div class="row">
    <article>
        <section>
            <hr class="hrUnderText" />
            <p>
                Генерират се месечни данни съответно след потвърждаването на сменните и дневните данни за желан месец.
                Потребителят е необходимо да потвърждава месечните данни веднъж месечно. Меню „Месечни данни“ е показано на Фиг.1.
            <p />
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/MainFigure.png" /></p>
                <p>Фиг.1</p>
            </div>
            <p>Въвеждането на месечни количества за нуждите на месечната отчетност е обособено в две групи: </p>
            <ul>
                <li>Количества продукти във вътрешни тръбопроводи;</li>
                <li>Количества продукти в технологични инсталации.</li>
            </ul>
            <p>В секция "Разходни норми" се създават следните планове:</p>
            <ul>
                <li>План по отбори;</li>
                <li>План преработка по инсталации.</li>
            </ul>
            <p>Системата генерира месечни данни в следните типове отчети:</p>
            <ul style="margin-bottom:0;">
                <li>Месечни данни за въглеводороди;</li>
                <li>Месечни данни за химикали;</li>
                <li>Месечни данни за свежа вода;</li>
                <li>Месечни данни за оборотна вода;</li>
                <li>Месечни данни за химически очистена вода;</li>
                <li>Месечни данни за питейна вода;</li>
                <li>Месечни данни за топлоенергия;</li>
                <li>Месечни данни за електроенергия;</li>
                <li>Месечни данни за въздух;</li>
                <li>Месечни данни за азот.</li>
                <li>Месечни данни за горива.</li>
            </ul>
        </section>
        <br />
        <hr class="hrUnderText" />
        <div class="container" style="margin-left:13em;">
            <div class="col-md-1 divimage">
                <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="imgForStuff" />
            </div>
            <div class="col-md-11 ForStuff" style="width:995px;">
                <h4 style="text-align:center">Кой има право да обработва Месечни данни ?</h4>
                <p>
                    Право за потвърждаване на Месечни количества има потребител с присъединена роля <span class="stronged">"MonthlyReporter"</span>.<br />
                    Право за въвеждане на разходни норми има потребител с присъединени роли <span class="stronged">"MonthlyReporter"</span> и
                    <span class="stronged">"ProductuionPlanReporter"</span>.<br />
                    Право за потвърждаване на Месечни данни за въглеводороди има само потребител с присъединена роля <span class="stronged">"MonthlyHydroCarbonsReporter"</span>.<br />
                    Право за потвърждаване на Месечни данни за химикали има само потребител с присъединена роля <span class="stronged">"MonthlyChemicalsReporter"</span>.<br />
                    Право за потвърждаване на Месечни данни за свежа вода има само потребител с присъединена роля <span class="stronged">"MonthlyFreshWaterReporter"</span>.<br />
                    Право за потвърждаване на Месечни данни за оборотна вода има само потребител с присъединена роля <span class="stronged">"MonthlyCirculatingWaterReporter"</span>.<br />
                    Право за потвърждаване на Месечни данни за химически очистена вода има само потребител с присъединена роля
                    <span class="stronged">
                        "MonthlyChemicalClearedWaterReporter"
                    </span>.<br />
                    Право за потвърждаване на Месечни данни за питейна вода има само потребител с присъединена роля
                    <span class="stronged">
                        "MonthlyPotableWaterReporter"
                    </span>.<br />
                    Право за потвърждаване на Месечни данни за топлоенергия има само потребител с присъединена роля
                    <span class="stronged">
                        "MonthlyHeatEnergyReporter"
                    </span>.<br />
                    Право за потвърждаване на Месечни данни за електроенергия има само потребител с присъединена роля
                    <span class="stronged">
                        "MonthlyElectricalEnergyReporter"
                    </span>.<br />
                    Право за потвърждаване на Месечни данни за въздух има само потребител с присъединена роля <span class="stronged">"MonthlyAirReporter"</span>.<br />
                    Право за потвърждаване на Месечни данни за азот има само потребител с присъединена роля <span class="stronged">"MonthlyHitrogenReporter"</span>.<br />
                    Право за потвърждаване на Месечни данни за горива има само потребител с присъединена роля <span class="stronged">"MonthlyFuelsReporter"</span>.<br />
                </p>
            </div>
        </div>
        <br />
        <hr class="hrUnderText" />
    </article>
</div>

