<h1>Месечни данни за отчети</h1>
<br />
<div class="row">
    <article>
        <section>
            <p>Месечни отчети се генерират основно от потребител с роля „MonthlyReporter“. Те се избират от меню Месечни отчети, показано на Фиг.1:</p>
            <p><img class="img-rounded" src="~/Content/images/MonthlyData/Фигура105.jpg" /></p>
            <p>Фиг.1</p>
            <p>Месечните данни за отчети се събират в две основни групи: </p>
            <ul>
                <li>Количества продукти във вътрешни тръбопроводи;</li>
                <li>Количества продукти в технологични инсталации.</li>
            </ul>
        </section>
    </article>
</div>
