<h1>Месечни данни за отчети</h1>
<br />
<div class="row">
    <article>
        <section>
            <p>
                Месечни данни се генерират основно от потребител с роля <b>„MonthlyReporter“</b>.
                 <span><img src=" ~/Content/Images/ShiftData/images.jpg" width="24" height="45" /> </span> <br />
                Те се избират от меню Месечни данни, показано на Фиг.1:
            </p>
            <p><img class="img-rounded" src="~/Content/images/MonthlyData/НоваМесечни_данни.jpg" /></p>
            <p>Фиг.1</p>
            <p>Въвеждането на месечни количества за нуждите на месечната отчетност е обособено в две групи: </p>
            <ul>
                <li>Количества продукти във вътрешни тръбопроводи;</li>
                <li>Количества продукти в технологични инсталации.</li>
            </ul>
            <p>Системата предоставя възможност за генериране на месечни данни в следните типове отчети:</p>
            <ul>
                <li>Месечни данни за въглеводороди;</li>
                <li>Месечни данни за свежа вода;</li>
                <li>Месечни данни за оборотна вода;</li>
                <li>Месечни данни за питейна вода;</li>
                <li>Месечни данни за топлоенергия;</li>
                <li>Месечни данни за електроенергия.</li>
            </ul>
            <p><b>Всеки отчет може да се генерира само от потребител с присъединената му за отчета роля.</b></p>
            <p>
                Тези отчети подлежат на промяна, като добавянето или изтриването на даден отчет става от меню
                <b>
                    „Номенклатура“  ->  "Месечни форми и отчети" -> "Тип месечен отчет"
                </b>, от потребител с присъединена роля <b>„NomManager“</b>. <span><img src=" ~/Content/Images/ShiftData/images.jpg" width="24" height="45" /></span>
            </p>
        </section>
    </article>
</div>
