<h1>Количества продукти в технологични инсталации</h1>
<br />
<div class="row">
    <article>
        <section>
            <hr class="myhr1" />
            <p>Количества продукти в технологични инсталации се избират от <span class="stronged">Месечни данни -> Количества продукти в технологични инсталации </span>, както е показано на Фиг.1:</p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/Figura112.png" /></p>
            <p>Фиг.1</p>
            <p>Отваря се екран, съдържащ две таблици. В ляво на екрана се намира таблица „Параметри на отчета“, показана на Фиг.2. </p>
            <p><img class="img-rounded" src="~/Content/images/MonthlyData/Figura102.jpg" /></p>
            <p>Фиг.2</p>
            <p>В дясно на екрана се намира  таблица „Количества продукти в технологични инсталации“, показана на Фиг.3.</p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/Figura113.png" /></p>
            <p>Фиг.3</p>
            <p>Tаблицата „Параметри на отчета“ съдържа поле „Дата“ като необходим параметър, който трябва да се подаде за генериране на месечните данни.</p>
            <p>Изборът в поле „Дата“ става от падащо меню, както е показано на Фиг.4.</p>
            <p><img class="img-rounded" src="~/Content/images/MonthlyData/Figura104.jpg" /></p>
            <p>Фиг.4</p>
            <p>Избира се бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>  и се отваря  екран, показан на Фиг.5:</p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/Figura114.png" /></p>
            <p>Фиг.5</p>
            <p>
                Tаблицата "Количества продукти в технологични инсталации" съдържа данни за месечния отчет на всички продукти във всички технологични инсталации за месеца, посочен в таблица
                "Параметри на отчета".
            </p>
            <br />
            <p>
                В таблицата може да се въведе нов продукт след избор на бутон <span><img class="img-rounded" src="~/Content/images/DailyData/Add.png" /></span>
                , намиращ се в горния ляв край на таблицата, показано на фиг.6.
                Отваря се нов ред над всички съществуващи редове в таблицата, в който ред е необходимо да се въведат коректни стойности в полетата и да се избере
                бутон <span><img class="img-rounded" src="~/Content/images/ShiftData/save.png" /></span>.
            </p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/Figura115.png" style="width:95%;" /></p>
            <p>Фиг.6</p>
            <br />
            <p>Всяка колона от таблицата може да бъде филтрирана по следния начин: </p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/Figura116.png" /></p>
            <p>Фиг.7</p>
            <p>
                Всеки ред от таблицата може да се редактира като се избере бутон  <span><img class="img-rounded" src="~/Content/images/Shiftdata/edit.png" /></span> .
                Колоните, които могат да бъдат редактирани са "Инсталация", "Продукт" и „Маса на продукта“.
                Те се ограждат в сив правоъгълник, както е показано на фиг.8. Данните в останалите колони в таблицата не подлежат на промяна.
            </p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/Figura117.png" /></p>
            <p>Фиг.8</p>
            <p>Ако се въведе невалидна стойност в колоните за редакция се появява следното съобщение за грешка, показано на Фиг.9:</p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/Figura118.png" /></p>
            <p>Фиг.9</p>
            <p>Въвеждат се коректни стойности в колоните за редакция и се натиска бутон <span><img class="img-rounded" src="~/Content/images/Shiftdata/save.png" /></span>  .</p>
            <p>Всеки ред от таблицата, съдържащ данни за продукт в технологични инсталации може да бъде изтрит чрез бутон  <span><img class="img-rounded" src="~/Content/images/Shiftdata/erase.png" /></span>  .</p>
            <p>
                Данните в таблица “Количества продукти в технологични инсталации” могат да бъдат експортирани в Excel чрез бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
            </p>
        </section>
    </article>
</div>


