<h1>Месечни данни за свежа вода</h1>
<br />
<div class="row">
    <article>
        <section>
            <hr class="myhr2" style="margin-right:41.5em" />
            <div class="container" style="margin-left:-2em;">
                <div class="col-md-1 divimage">
                    <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="myimg" />
                </div>
                <div class="col-md-11 mycol11">
                    <h4 style="text-align:center">Кой има право да обработва "Месечни данни за свежа вода" ?</h4>
                    <p>
                        Право за генериране на "Месечни данни за свежа вода" има само потребител с присъединена роля
                        <span class="stronged">"MonthlyFreshWaterReporter"</span>.
                    </p>
                </div>
            </div>
            <hr class="myhr2" style="margin-right:41.5em" />
            <br />
        </section>
        <section>
            <p>Обработването на месечни данни за свежа вода се избира от меню, показано на Фиг.1. </p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/MonthlyDataFresh/Figura150.png" /></p>
            <p>Фиг.1</p>
            <p>Отваря се екран, съдържащ две таблици. В ляво на екрана се намира таблица „Параметри на отчета“, показана на Фиг.2. </p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/MonthlyDataFresh/Figura151.png" /></p>
            <p>Фиг.2</p>
            <p>В дясно на екрана се намира таблица „Месечни данни за свежа вода“, показана на Фиг.3.</p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/MonthlyDataFresh/Figura152.png" /></p>
            <p>Фиг.3</p>
            <p>
                В таблица „Параметри на отчета“ се задава месец, за който ще се генерира месечния отчет за свежа вода.
                Ако в посочения месец има дневни данни, които не са потвърдени, то се извежда следното съобщение за грешка:
            </p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/MonthlyDataFresh/Figura149.png" /></p>
            <p>Фиг.4</p>
            <p>
                Съобщението съдържа изчерпателна информация какви данни не са потвърдени. Докато тези данни не бъдат потвърдени в системата,
                месечният отчет за свежата вода няма да се генерира.
            </p>
            <p>
                Ако всички данни за посочения месец са потвърдени, тогава при избиране на бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>
                се генерира месечният отчет за свежа вода, показан на Фиг.5.
            </p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/MonthlyDataFresh/Figura157.png" /></p>
            <p>Фиг.5</p>
            <p>Tаблицата "Месечни данни за свежа вода" съдържа данни за месечния отчет за свежата вода по направления за месеца, посочен в таблица "Параметри на отчета".</p>
            <br />
            <p>Всяка колона от таблицата може да бъде филтрирана по следния начин:</p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/MonthlyDataFresh/Figura154.png" /></p>
            <p>Фиг.6</p>
            <p>Всеки ред от таблицата може да се редактира като се натисне бутон  <span><img class="img-rounded" src="~/Content/images/Shiftdata/edit.png" /></span>.</p>
            <p>
                Колоните, които могат да бъдат редактирани са „Код“, „Инсталация“ и „Отчетено“. Те се ограждат в сив правоъгълник, както е показано на фиг.7.
                Данните в останалите колони в таблицата не подлежат на промяна.
            </p>
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/MonthlyDataFresh/Figura153.png" /></p>
            <p>Фиг.7</p>
        </section>
    </article>
</div>

