<h1 class="myh1">Месечни данни за отчети</h1>
<br />
<div class="row">
    <article>
        <section>
            <div class="row myrow">
                <hr class="myhr1" />
                <p>Генерират се месечни данни за отчети съответно след потвърждаването на сменните и дневните данни за желан месец.
                    Потребителят е необходимо да потвърждава месечните данни веднъж месечно. Меню „Месечни данни“ е показано на Фиг.1.
                <p />
            </div>
            <p><img class="img-rounded" src="~/Content/images/MonthlyData/НоваМесечни_данни.jpg" /></p>
            <p>Фиг.1</p>
            <p>Въвеждането на месечни количества за нуждите на месечната отчетност е обособено в две групи: </p>
            <ul>
                <li>Количества продукти във вътрешни тръбопроводи;</li>
                <li>Количества продукти в технологични инсталации.</li>
            </ul>
            <p>Системата генерира месечни данни в следните типове отчети:</p>
            <ul style="margin-bottom:0;">
                <li>Месечни данни за въглеводороди;</li>
                <li>Месечни данни за свежа вода;</li>
                <li>Месечни данни за оборотна вода;</li>
                <li>Месечни данни за химически очистена вода;</li>
                <li>Месечни данни за питейна вода;</li>
                <li>Месечни данни за топлоенергия;</li>
                <li>Месечни данни за електроенергия.</li>
            </ul>
        </section>
    </article>
</div>
<div class="container mycontainer">
    <div class="row">
        <hr class="myhr2" />
        <div class="col-md-1 divimage">
            <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="myimg" />
        </div>
        <div class="col-md-11 mycol11">
            <h4 style="text-align:center">Кой има право да обработва Месечни данни за отчети ?</h4>
            <p>
                Право за потвърждаване на месечните количества има основно потребител с присъединена роля <span class="stronged">"MonthlyReporter"</span>.<br />
                <span class="stronged"> Всеки тип месечен отчет може да се генерира само от потребител с присъединена му за съответния отчет роля.</span>
            </p>
        </div>
    </div>
</div>
