<h1>Количества продукти в магистрални тръбопроводи</h1>
<br />
<div class="row">
    <article>
        <section>
            <p>
                В менюто  „Сменни данни“ се вижда и трета група за въвеждане на сменни данни, наречена <b>„Количества продукти в магистрални тръбопроводи“</b>
                само ако на потребителя е присъединена роля <b>„HighwayPipelinesDataReporter“</b>.
                <span><img src=" ~/Content/Images/ShiftData/images.jpg" width="24" height="45" /></span> <br />
                Такъв потребител има право да въвежда сменни данни за количества продукти в магистрални тръбопроводи, показано на Фиг.1.
            </p>
            <p><img class="img-rounded" src="~/Content/images/shiftData/новасменни_данни.jpg" /></p>
            <p>Фиг.1</p>
            <p>Отваря се екран, съдържащ  две таблици. В ляво на екрана се намира таблица „Параметри на отчета“, показана на Фиг.2. </p>
            <p><img class="img-rounded" src="~/Content/images/dailyData/фигура92.jpg" /></p>
            <p>Фиг.2</p>
            <p>В ляво на екрана се намира  таблица „Количества продукти в магистрални тръбопроводи“, показана на Фиг.3.</p>
            <p><img class="img-rounded" src="~/Content/images/dailyData/фигура93.jpg" /></p>
            <p>Фиг.3</p>
            <p>Tаблицата „Параметри на отчета“ съдържа поле „Дата“ като необходим параметър, който трябва да се подаде за генериране на данни.</p>
            <p>Изборът в поле „Дата“ става от падащо меню, както е показано на Фиг.4.</p>
            <p><img class="img-rounded" src="~/Content/images/dailyData/фигура94.jpg" /></p>
            <p>Фиг.4</p>
            <p>Ако в полето „дата“ се въведе дата, по-голяма от днешната дата се извежда следното съобщение за грешка:</p>
            <p><img class="img-rounded" src="~/Content/images/dailyData/фигура95.jpg" /></p>
            <p>Фиг.5</p>
            <p>
                След избиране на коректна дата се избира бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>
                и се отваря  екран, показан на Фиг.6:
            </p>
            <p><img class="img-rounded" src="~/Content/images/dailyData/фигура96.jpg" /></p>
            <p>Фиг.6</p>
        </section>
        <section>
            <p>
                Таблица „Количества продукти в магистрални тръбопроводи“ съдържа данни за отчета на количества продукти в магистралните тръбопроводи
                за избрания параметър „ден“.
            </p>
            <p> Всяка колона от таблицата може да бъде филтрирана по следния начин:</p>
            <p><img class="img-rounded" src="~/Content/images/dailyData/фигура97.jpg" /></p>
            <p>Фиг.7</p>
            <p>
                Когато информацията в таблица “Количества продукти в магистрални тръбопроводи” е много голяма и не се събира на един екран, тя
                се прехвърля на следващи екрани като преминаването между различните екрани става чрез бутоните, показани на Фиг.8.
            </p>
            <p><img class="img-rounded" src="~/Content/images/ShiftData/Figura63.png" /></p>
            <p>Фиг.8</p>
            <p>
                Всеки ред от таблицата може да бъде редактиран чрез бутон  <span><img class="img-rounded" src="~/Content/images/Shiftdata/edit.png" style="box-shadow: 5px 5px 5px #888888;" /></span> .
                Отваря се екран, показан на Фиг.9:
            </p>
            <p><img class="img-rounded myWidth102" src="~/Content/images/dailyData/фигура98.jpg" /></p>
            <p>Фиг.9</p>
            <p>
                При въвеждане на дробни числа в колоните за редактиране е необходимо да се съобрази със съответните регионални настройки на компютъра,
                който използва клиента.
            </p>
            <p>
                Колоните, които могат да бъдат редактирани са „Обем на продукта“ и „Маса на продукта“ и те се ограждат в сив правоъгълник,
                а данните в останалите колони не подлежат на промяна. Ако в колоните за редакция се въведе невалидна стойност се извежда следното
                съобщение до конкретната колона, показано на Фиг.10:
            </p>
            <p><img class="img-rounded myWidth102" src="~/Content/images/dailyData/фигура99.jpg" /></p>
            <p>Фиг.10</p>
            <p>
                След въвеждане на коректни данни в колоните за редактиране се натиска бутон
                <span><img class="img-rounded" src="~/Content/images/Shiftdata/save.png" /></span> .
            </p>
            <p>
                Отчетът може да бъде експортиран в Excel чрез бутон  <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
                Отчетът се експортира и може да се извика по начин, както е показано на Фиг.11:
            </p>
            <p><img class="img-rounded" src="~/Content/images/Shiftdata/Figura18.png" /></p>
            <p>Фиг.11</p>
        </section>
    </article>
</div>	

