<h1 class="h1ForTitle">Сменни данни за измервателни позиции - отчет</h1>
<br />
<div class="row ">
    <article>
        <section>
            <hr class="hrUnderText" />
            <p>
                Сменните данни за измервателни позиции - отчет се избират от меню <span class="stronged"> Дневни данни ->Сменни данни за измервателни позиции - отчет</span>, показано на Фиг.1:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/dnevni3.png" /></p>
                <p>Фиг.1</p>
            </div>
            <p>
                Отваря се екран, съдържащ две таблици. В ляво се намира таблица „Параметри на отчета“,
                показана на Фиг.2.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded myWidth" src="~/Content/images/DailyData/figura31.png" /></p>
                <p>Фиг.2</p>
            </div>
            <p>В дясно  се намира таблица „Сменни данни за измервателни позиции – отчет“, показана на Фиг.3.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura31A.png" /></p>
                <p>Фиг.3</p>
            </div>
            <p>В таблица „Параметри на отчета“ се съдържат параметри на отчета, които задължително трябва да се попълнят, а именно:</p>
            <ul>
                <li>Производство;</li>
                <li>Инсталация;</li>
                <li>Дата.</li>
            </ul>

            <p>
                Ако се натисне бутона <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>
                и  горепосочените полета не са въведени се извежда следното съобщение за грешка:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura56.png" /></p>
                <p>Фиг.4</p>
            </div>
            <p>
                Необходимо е да се въведат всички полета в таблица „Параметри на отчета“.
                Изборът в поле „Производство“ става от падащо меню, показан на Фиг.5:
            </p>
        </section>

        <section>
            <div class="centeredDivForImages">
                <p><img class="img-rounded myWidth" src="~/Content/images/DailyData/figura32.png" /></p>
                <p>Фиг.5</p>
            </div>
            <p>Изборът в поле „Инсталация“ става от падащо меню, показано на Фиг.6.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded myWidth" src="~/Content/images/DailyData/figura32A.png" /></p>
                <p>Фиг.6</p>
            </div>
            <p>
                <span class="stronged">Всеки потребител вижда само имената на инсталациите, които са му присъединени към акаунта, с който влиза в системата.</span>
            </p>
            <p>Изборът в поле „Дата“ става от падащо меню, показано на Фиг.7 и се избере желаната дата:</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded myWidth" src="~/Content/images/DailyData/figura33.png" /></p>
                <p>Фиг.7</p>
            </div>
            <p>
                След като бъдат въведени всички полета в таблица „Параметри на отчета“ се натиска бутон <span>
                    <img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" />
                </span>.
                Отваря се следният екран:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura35.png" /></p>
                <p>Фиг.8</p>
            </div>
            <p>Таблицата съдържа информация, която е необходима за изготвянето на сменните данни за измервателни позиции - отчет.</p>
            <p>Всяка колона от таблицата може да бъде филтрирана по следния начин:</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura36.png" /></p>
                <p>Фиг.9</p>
            </div>
        </section>
        <section>
            <p>
                Когато информацията в таблица “Сменни данни за измервателни позиции - отчет” е много голяма
                и не се събира на един екран, тя се прехвърля на следващи екрани като преминаването между
                различните екрани става чрез бутоните, показани на Фиг.10.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura63.png" /></p>
                <p>Фиг.10</p>
            </div>
            <p>
                Потребителят с роля „ShiftReporter“ няма право да редактира или променя таблицата
                „Сменни данни за измервателни позиции - отчет“. Отчетът може само повторно да бъде извикан и
                експортиран в Excel чрез бутон  <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span>.
                Отчетът се експортира и може да се извика от таба за експортнатия документ, намиращ се в долния ляв ъгъл на екрана и показан на Фиг.11:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura39.png" /></p>
                <p>Фиг.11</p>
            </div>
        </section>
        <hr class="hrUnderText" />
        <div class="container" style="margin-left:18em;">
            <div class="col-md-1 divimage">
                <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="imgForStuff" />
            </div>
            <div class="col-md-11 ForStuff">
                <h4 style="text-align:center">Кой има право да обработва Сменни данни за измервателни позиции - отчет ?</h4>
                <p>
                    Право за генериране на Сменни данни за измервателни позиции - отчет има потребител с присъединена роля
                    <span class="stronged">"DailyReporter"</span>.
                </p>
            </div>
        </div>
        <br />
        <hr class="hrUnderText" />
    </article>
</div>

