<h1 class="h1ForTitle">Количества продукти в магистрални тръбопроводи</h1>
<br />
<div class="row">
    <article>
        <section>
            <hr class="hrUnderText" />
            <br />
            <p>  Обработването на сменни данните за количества продукти в магистрални тръбопроводи се избира от меню, показано на Фиг.1. </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/shiftData/новасменни_данни.jpg" /></p>
                <p>Фиг.1</p>
            </div>
            <p>Отваря се екран, съдържащ  две таблици. В ляво на екрана се намира таблица „Параметри на отчета“, показана на Фиг.2. </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/dailyData/фигура92.jpg" /></p>
                <p>Фиг.2</p>
            </div>
            <p>В ляво на екрана се намира  таблица „Количества продукти в магистрални тръбопроводи“, показана на Фиг.3.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/dailyData/фигура93.jpg" /></p>
                <p>Фиг.3</p>
            </div>
            <p>Tаблицата „Параметри на отчета“ съдържа поле „Дата“ като необходим параметър, който трябва да се подаде за генериране на данни.</p>
            <p>Изборът в поле „Дата“ става от падащо меню, както е показано на Фиг.4.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/dailyData/фигура94.jpg" /></p>
                <p>Фиг.4</p>
            </div>
            <p>Ако в полето „дата“ се въведе дата, по-голяма от днешната дата се извежда следното съобщение за грешка:</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/dailyData/фигура95.jpg" /></p>
                <p>Фиг.5</p>
            </div>
            <p>
                След избиране на коректна дата се избира бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>
                и се отваря  екран, показан на Фиг.6:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/dailyData/фигура96.jpg" /></p>
                <p>Фиг.6</p>
            </div>
        </section>
        <section>
            <p>
                Таблица „Количества продукти в магистрални тръбопроводи“ съдържа данни за отчета на количества продукти в магистралните тръбопроводи
                за избрания параметър „ден“.
            </p>
            <p> Всяка колона от таблицата може да бъде филтрирана по следния начин:</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/dailyData/фигура97.jpg" /></p>
                <p>Фиг.7</p>
            </div>
            <p>
                Когато информацията в таблица “Количества продукти в магистрални тръбопроводи” е много голяма и не се събира на един екран, тя
                се прехвърля на следващи екрани като преминаването между различните екрани става чрез бутоните, показани на Фиг.8.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/ShiftData/Figura63.png" /></p>
                <p>Фиг.8</p>
            </div>
            <p>
                Всеки ред от таблицата може да бъде редактиран чрез бутон  <span><img class="img-rounded" src="~/Content/images/Shiftdata/edit.png" /></span> .
                Отваря се екран, показан на Фиг.9:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded MaxWidthForTable" src="~/Content/images/dailyData/фигура98.jpg" /></p>
                <p>Фиг.9</p>
            </div>
            <p>
                При въвеждане на дробни числа в колоните за редактиране е необходимо да се съобрази със съответните регионални настройки на компютъра,
                който използва клиента.
            </p>
            <p>
                Колоните, които могат да бъдат редактирани са „Обем на продукта“ и „Маса на продукта“ и те се ограждат в сив правоъгълник,
                а данните в останалите колони не подлежат на промяна. Ако в колоните за редакция се въведе невалидна стойност се извежда следното
                съобщение до конкретната колона, показано на Фиг.10:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded MaxWidthForTable" src="~/Content/images/dailyData/фигура99.jpg" /></p>
                <p>Фиг.10</p>
            </div>
            <p>
                След въвеждане на коректни данни в колоните за редактиране се натиска бутон
                <span><img class="img-rounded" src="~/Content/images/Shiftdata/save.png" /></span> .
            </p>
            <p>
                Ако потребителят е с присъединена роля <span class="stronged">"Administrator"</span> при избиране на колона „Обем на продукта“ или на колона „Маса на продукта“
                от таблицата се отваря екран, съдържащ информация кой потребител,кога и какви промени е направил за избраната измервателна позиция, както е показано на Фиг.11:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura15.png" /></p>
                <p>Фиг.11</p>
            </div>
            <p>
                Отчетът може да бъде експортиран в Excel чрез бутон  <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
                Отчетът се експортира и може да се извика от таба за експортнатия документ, намиращ се в долния ляв ъгъл на екрана и показан на Фиг.12:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/Shiftdata/Figura18.png" /></p>
                <p>Фиг.12</p>
            </div>
        </section>
        <hr class="hrUnderText" />
        <div class="container" style="margin-left:18em;">
            <div class="col-md-1 divimage">
                <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="imgForStuff" />
            </div>
            <div class="col-md-11 ForStuff">
                <h4 style="text-align:center">Кой има право да обработва Количества продукти в магистрални тръбопроводи ?</h4>
                <p>
                    Право за генериране на Количества продукти в магистрални тръбопроводи има само потребител с присъединена роля
                    <span class="stronged">"HighwayPipelinesDataReporter"</span>.
                </p>
            </div>
        </div>
        <br />
        <hr class="hrUnderText" />
    </article>
</div>

