<h1 class="myh1" >Сменни данни за отчети</h1>
<br />
<div class="row">
    <article>
        <section>
            <div class="row myrow" >
                <hr class="myhr1"/>
                <p>Основна функционалност на системата е извличането на данни, необходими за изготвяне на сменни отчети.<p />
                <p> Потребителят е необходимо да потвърждава сменните данни след приключването на всяка смяна през деня.</p>
                <p>
                    След потвърждаването им, сменните данни се използват в изготвянето на дневните отчети, а  в последствие
                    и в образуването на месечните отчети.
                </p>
               <p> Потребителят избира меню „Сменни данни“, показано на Фиг.1:
                </p>
            </div>
            <br />
            <p><img class="img-rounded" src="~/Content/images/ShiftData/НоваСменни_данни.jpg" /></p>
            <p> Фиг.1</p>
            <p>За генерирането на сменни данни за отчети се събират данни от три смени:</p>
            <ul>
                <li>Първа смяна  - събират се данни от 05:00 часа до 13:00 часа;</li>
                <li> Втора смянa - събират се данни от 13:00 часа до 21:00 часа;</li>
                <li> Трета смяна - събират се данни от 21:00 часа до 05:00 часа.</li>
            </ul>
        </section>
        <section>
            <p>Въвеждането на сменните данни се разделя в три основни групи: </p>
            <ul>
                <li> Сменни данни за измервателни позиции;</li>
                <li> Сменни данни за наличности по резервоари;</li>
                <li> Количества продукти в магистрални тръбопроводи.</li>
            </ul>
        </section>
    </article>
</div>
<div class="container mycontainer">
    <div class="row">
        <hr class="myhr2" />
        <div class="col-md-1 divimage">
            <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="myimg" />
        </div>
        <div class="col-md-11 mycol11">
            <h4 style="text-align:center">Кой има право да обработва Сменни данни за отчети ?</h4>
            <p>
                Право за потвърждаване на сменни данни за измервателни позиции и наличности по резервоари
                има основно потребител с присъединена роля <span class="stronged">"ShiftReporter"</span>.<br />
                Право за потвърждаване на сменни данни за количества продукти в магистрални тръбопроводи
                има само потребител с присъединена роля <span class="stronged">"HighwayPipelinesDatаReporter"</span>.
            </p>
        </div>
    </div>
</div>

