@{
    Layout = null;
}
<div class="mycontainer">
    <h1>Сменни данни за наличности по резервоари</h1>
    <br />
    <div class="row myrow">
        <article>
            <section>
                <p>Сменните данни за наличности по резервоари се избират от меню <b>Сменни данни -> Сменни данни за наличности по резервоари,</b> показано на Фиг.1:</p>
                <p><img class="img-rounded" src="~/Content/images/Shiftdata/smenni2.png" /></p>
                <p class="pCenterSmall">Фиг.1</p>
                <p>
                    Отваря се екран, съдържащ  в ляво таблица „Параметри на отчета“ и в дясно таблица „Сменни данни за наличности по резервоари“.
                    Таблица „Параметри на отчета“ е показана на Фиг.2.
                </p>
                <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura23A.png" /></p>
                <p class="pCenterSmall">Фиг.2</p>
                <p>В таблицата се съдържат параметри на отчета, които задължително трябва да се попълнят, а именно:</p>
                <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span>Област;</p>
                <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span>Паркове;</p>
                <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span>Дата;</p>
                <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span>Вид смяна.</p>

                <p>
                    Ако се натисне бутона <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>
                    и горепосочените полета не са въведени се извежда следното съобщение за грешка:
                </p>
                <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura21.png" /></p>
                <p class="pCenterB">Фиг.3</p>
                <p>Необходимо е да се въведат всички полета в таблица „Параметри на отчета“.</p>
                <p>Изборът в поле „Област“ става от падащо  меню, показан Фиг.4:</p>
                <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura22.png" /></p>
                <p class="pCenterSmall">Фиг.4</p>
                <p>Изборът в поле „Паркове“ става от падащо меню, показано на Фиг.5.</p>
                <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura22A.png" /></p>
                <p class="pCenterSmall">Фиг.5</p>
                <p>Изборът в поле „Дата“ става по начин, показан на Фиг.6:</p>
                <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura23.png" /></p>
                <p class="pCenterSmall">Фиг.6</p>
                <p>Изборът в поле „Смяна“ става по начин, показан Фиг.7:</p>
                <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura24.png" /></p>
                <p class="pCenterSmall">Фиг.7</p>
            </section>
            <section>
                <p>
                    След като бъдат въведени всички полета в таблица „Параметри на отчета“ се натиска бутон
                    <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>. Появява се следният екран:
                </p>
                <p><img class="img-rounded AllTable" src="~/Content/images/Shiftdata/figura25.png" /></p>
                <p class="pCenterB">Фиг.8</p>
                <p>
                    Таблицата съдържа информация, която е необходима за изготвянето на сменния отчет за наличности по резервоари в края на всяка смяна.
                    Всяка колона от таблицата може да бъде филтрирана по следния начин:
                </p>
                <p><img class="img-rounded" src="~/Content/images/Shiftdata/Figura27.png" /></p>
                <p class="pCenterB">Фиг.9</p>
                <p>
                    Когато информацията в таблица “Сменни данни за наличности по резервоари” е много голяма и не се събира на един екран,
                    тя се прехвърля на следващи екрани като преминаването между различните екрани става чрез бутоните, показани на Фиг.10.
                </p>
                <p><img class="img-rounded myPage" src="~/Content/images/Shiftdata/figura63.png" /></p>
                <p class="pCenterB">Фиг.10</p>

                <p>
                    Потребителят с роля „ShiftReporter“ няма право да редактира или променя таблицата „Сменни данни за наличности по резервоари“.
                    Отчетът може само повторно да бъде извикан и експортиран в Excel чрез <span><img class="img-rounded" src="~/Content/images/Shiftdata/Export.png" /></span>.
                    Той се експортира и може да се извика по начин,както е показано на Фиг.11:
                </p>
                <p><img class="img-rounded myPage" src="~/Content/images/Shiftdata/figura18.png" /></p>
                <p class="pCenterB">Фиг.11</p>
            </section>
        </article>
    </div>
</div>