<h1>Сменни данни за измервателни позиции - отчет</h1>
    <br />
    <div class="row ">
        <article>
            <section>
                <p>
                    Сменните данни за измервателни позиции - отчет се избират от меню <b> Дневни данни ->Сменни данни за измервателни позиции - отчет</b>, показано на Фиг.1:
                </p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/dnevni3.png" /></p>
                <p>Фиг.1</p>
                <p>
                    Отваря се екран, съдържащ две таблици. В ляво се намира таблица „Параметри на отчета“,
                    показана на Фиг.2.
                </p>
                <p><img class="img-rounded myWidth" src="~/Content/images/DailyData/figura31.png" /></p>
                <p>Фиг.2</p>
                <p>В дясно  се намира таблица „Сменни данни за измервателни позиции – отчет“, показана на Фиг.3.</p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura31A.png" /></p>
                <p>Фиг.3</p>
                <p>В таблица „Параметри на отчета“ се съдържат параметри на отчета, които задължително трябва да се попълнят, а именно:</p>
                <ul>
                  <li>Производство;</li>
                    <li>Инсталация;</li>
                    <li>Дата.</li>
                </ul>
               
                <p>
                    Ако се натисне бутона <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>
                    и  горепосочените полета не са въведени се извежда следното съобщение за грешка:
                </p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura56.png" /></p>
                <p>Фиг.4</p>
                <p>
                    Необходимо е да се въведат всички полета в таблица „Параметри на отчета“.
                    Изборът в поле „Производство“ става от падащо меню, показан на Фиг.5:
                </p>
            </section>

            <section>
                <p><img class="img-rounded myWidth" src="~/Content/images/DailyData/figura32.png" /></p>
                <p>Фиг.5</p>
                <p>Изборът в поле „Инсталация“ става от падащо меню, показано на Фиг.6.</p>
                <p><img class="img-rounded myWidth" src="~/Content/images/DailyData/figura32A.png" /></p>
                <p>Фиг.6</p>
                <p>
                    <b>Всеки потребител вижда само имената на инсталациите, които са му присъединени към акаунта, с който влиза в системата.</b>
                </p>
                <p>
                    Ако на даден потребител е присвоена и роля <b>"PowerUser"</b>, то този потребител вижда всички инсталации в падащото меню
                    <span><img src=" ~/Content/Images/ShiftData/images.jpg" width="24" height="45" /> .</span>
                </p>
                <p>Изборът в поле „Дата“ става от падащо меню, показано на Фиг.7 и се избере желаната дата:</p>
                <p><img class="img-rounded myWidth" src="~/Content/images/DailyData/figura33.png" /></p>
                <p>Фиг.7</p>
                <p>
                    След като бъдат въведени всички полета в таблица „Параметри на отчета“ се натиска бутон <span>
                        <img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" />
                    </span>.
                    Отваря се следният екран:
                </p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura35.png" /></p>
                <p>Фиг.8</p>
                <p>Таблицата съдържа информация, която е необходима за изготвянето на сменните данни за измервателни позиции - отчет.</p>
                <p>Всяка колона от таблицата може да бъде филтрирана по следния начин:</p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura36.png" /></p>
                <p>Фиг.9</p>
            </section>
            <section>
                <p>
                    Когато информацията в таблица “Сменни данни за измервателни позиции - отчет” е много голяма
                    и не се събира на един екран, тя се прехвърля на следващи екрани като преминаването между
                    различните екрани става чрез бутоните, показани на Фиг.10.
                </p>
                <p><img class="img-rounded" src="~/Content/images/Shiftdata/figura63.png" /></p>
                <p>Фиг.10</p>
                <p>
                    Потребителят с роля „ShiftReporter“ няма право да редактира или променя таблицата
                    „Сменни данни за измервателни позиции - отчет“. Отчетът може само повторно да бъде извикан и
                    експортиран в Excel чрез бутон  <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span>.
                    Отчетът се експортира и може да се извика по начин, както е показано на Фиг.11:
                </p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura39.png" /></p>
                <p>Фиг.11</p>
            </section>
        </article>
    </div>

