@{
    Layout = null;
}
<div class="mycontainer">
    <h1>Сменни данни за отчети</h1>
    <br />
    <div class="row myrow">
        <article>
            <section>
                <p>За генерирането на сменни данни за отчети се събират данни от три смени:</p>
                <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span>Първа смяна  - събират се данни от 05:00 часа до 13:00 часа;</p>
                <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span>Втора смянa - събират се данни от 13:00 часа до 21:00 часа;</p>
                <p><span class="glyphicon glyphicon-play" aria-hidden="true"></span>Трета смяна - събират се данни от 21:00 часа до 05:00 часа.</p>
                <p>Права за потвърждаване на сменни отчети има основно потребител с роля "ShiftReporter". Потребител с посочената роля има достъп до меню „Сменни данни“, показано на Фиг.1:</p>
                <br />
                <p><img class="img-rounded" src="~/Content/images/ShiftData/smenni_danni.png" /></p>
                <p class="pCenterSmall">Фиг.1</p>
            </section>
            
       
            <section>
                <p>Сменните данни за отчети се събират в две основни групи: </p>
                <p>•  Сменни данни за измервателни позиции;</p>
                <p>•  Сменни данни за наличности по резервоари.</p>
            </section>
        </article>
    </div>
</div>
