<h1>Сводни отчети</h1>
<br />
<div class="row">
    <article>
        <section>
            <p> Сводните отчети се генерират основно от потребител с роля „SummaryReporter“. Те се избират от меню Сводни отчети, показано на Фиг.1:    </p>
            <br />
            <p><img class="img-rounded" src="~/Content/images/SummaryReport/Фигура73.png" /></p>
            <p>Фиг.1</p>
            <p>Данните за сводните отчети се обобщават в следните видове сводни отчета:</p>
            <ul>
                <li>Сменни данни за наличности по резервоари; </li>
                <li>Сменни данни за измервателни позиции – отчет;</li>
                <li>Дневни данни за измервателни позиции – отчет; </li>
                <li>Своден отчет по прибори ( въглеводороди ); </li>
                <li>Своден отчет по прибори ( енергийни ); </li>
                <li>Данни за експедирани и доставени нефтопродукти; </li>
                <li>Количества продукти в магистрални тръбопроводи; </li>
                <li>Отчет за потвърждение на данните.</li>
            </ul>
        </section>

        <br />
        <br />
        <br />
        <section>
            <p class="summaryReport">Своден отчет "Сменни данни за наличности по резервоари"</p>
            <p>Своден отчет „Сменни данни за наличности по резервоари“ се избира от меню Сводни отчети -> Сменни данни за наличности по резервоари, показано на Фиг.2.</p>
            <p><img class="img-rounded" src="~/Content/images/SummaryReport/Фигура74.png" /></p>
            <p>Фиг.2</p>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Сменни данни за наличности по резервоари“, подробно описани в
                секция "Сменни данни за отчети"->"Сменни данни за наличности по резервоари". В поле „област“ вече може да се избере освен конкретна област
                и стойност „всички области“, което автоматично зарежда и стойност „всички паркове“ в поле „паркове“. След избиране на желаните параметри в
                таблица „Параметри на отчета“ се натиска бутон  <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>.
                Отваря се екран, показана на Фиг.3.
            <p><img class="img-rounded" src="~/Content/images/SummaryReport/Fig75.png" /></p>
            <p>Фиг.3</p>
            <p>
                Таблица „Сменни данни за наличности по резервоари“ съдържа данни за отчета за наличности по резервоари за избраните параметри на отчета „област“,
                „парк“, „дата“ и „смяна“. Потребителят няма право да редактира или изтрива записи в таблицата „Сменни данни за наличности по резервоари“.
                Отчетът може само да бъде прехвърлен в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/Export.png" /></span>.
            </p>
        </section>

        <br />
        <br />
        <br />
        <section>
            <p class="summaryReport">Своден отчет "Сменни данни за измервателни позиции – отчет"</p>
            <p>
                „Сменни данни за измервателни позиции – отчет“ се избира от меню Сводни отчети -> Сменни данни за измервателни позиции – отчет,
                показано на Фиг.4.
            </p>
            <p><img class="img-rounded" src="~/Content/images/SummaryReport/Фигура76.png" /></p>
            <p>Фиг.4</p>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Сменни данни за измервателни позиции - отчет “,
                подробно описани в  секция "Сменни данни за отчети"->"Сменни данни за измервателни позиции". В поле „производство“ вече може да се избере освен
                конкретно производство и стойност „всички производства“, което автоматично зарежда и стойност „всички инсталации“ в поле „инсталация“.
                След избиране на желаните параметри  в таблица „Параметри на отчета“ се натиска бутон
                <span> <img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>. Отваря се екран, показан на Фиг.5.
            <p><img class="img-rounded" src="~/Content/images/SummaryReport/Fig77.png" /></p>
            <p>Фиг.5</p>
            <p>
                Таблицата „Сменни данни за измервателни позиции - отчет“ съдържа данни за отчета на измервателните позиции за избраните параметри „производство“,
                „инсталация“ и „дата“ за всяка една смяна за конкретната дата и общо за деня.
                Потребителят няма право да редактира или изтрива записи в таблицата „Сменни данни за измервателни позиции - отчет“.
                Отчетът може само да бъде прехвърлен в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/Export.png" /></span>.
            </p>
        </section>


        <br />
        <br />
        <br />
        <section>
            <p class="summaryReport">Своден отчет "Дневни данни за измервателни позиции – отчет"</p>
            <p>
                „Дневни данни за измервателни позиции – отчет“ се избира от меню Сводни отчети -> Дневни данни за измервателни позиции – отчет,
                показано на Фиг.6.
            </p>
            <p><img class="img-rounded" src="~/Content/images/SummaryReport/Фигура78.png" /></p>
            <p>Фиг.6</p>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Дневни данни за измервателни позиции – отчет“,
                подробно описани в  секция "Дневни данни за отчети"->"Дневни данни за измервателни позиции". В поле „производство“ вече може да се избере освен
                конкретно производство и стойност „всички производства“, което автоматично зарежда и стойност „всички инсталации“ в поле „инсталация“.
                След избиране на желаните параметри  в таблица „Параметри на отчета“ се натиска бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/butonPrilogi.png" /> </span>.
                <b>
                    Данни в отчета се генерират само ако са били потвърдени дневните данни за измервателни позиции за същите параметри (производство,
                    инсталация, дата), което се изпълнява от меню
                    Дневни данни -> Дневни данни за измервателни позиции – Материални потоци и
                    Дневни данни -> Дневни данни за измервателни позиции – Енергийни потоци.
                </b>  Отваря се екран, показан на Фиг.7.
            <p><img class="img-rounded" src="~/Content/images/SummaryReport/Fig79.png" /></p>
            <p>Фиг.7</p>
            <p>
                Таблица „Дневни данни за измервателни позиции - отчет“ съдържа данни за отчета на измервателните позиции за избраните параметри „производство“,
                „инсталация“ и „дата“ като в колона „До деня“ са натрупани количества от първо число на месеца до избрания ден в параметър на отчета „дата“.
            </p>
            <p>
                Потребителят няма право да редактира или изтрива записи в таблицата „Дневни данни за измервателни позиции - отчет“.
                Отчетът може само да бъде прехвърлен в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/Export.png" /></span>.
            </p>
        </section>

        
        <br />
        <br />
        <br />
        <section>
            <p class="summaryReport">"Своден отчет по отбори (въглеводороди) "</p>
            <p>
                "Своден отчет по отбори (въглеводороди)" се избира от меню Сводни отчети -> Своден отчет по отбори (въглеводороди),
                показано на Фиг.9.
            </p>
            <p><img class="img-rounded" src="~/Content/images/SummaryReport/Figura137.jpg" /></p>
            <p>Фиг.9</p>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Своден отчет по отбори (въглеводороди)“.
                В поле „производство“ може да се избере освен конкретно производство и „всички производства“, което автоматично зарежда и стойност „всички инсталации“
                в поле „инсталация“. След избиране на желаните параметри  в таблица „Параметри на отчета“ се натиска бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/butonPrilogi.png" /> </span> . Отваря се екран, показан на Фиг.10.
            </p>
            <p><img class="img-rounded" src="~/Content/images/SummaryReport/Figura138.jpg" /></p>
            <p>Фиг.10</p>
            <p>
                Отчетът съдържа информация за количествата на въглеводородите по план и по факт, както и процентното им съотношение по план и по факт.
                Таблицата съдържа и сумарни колони като „До деня (факт %)“, „До деня (план Т)“ и „До деня (факт Т)“, които показват натрупаните
                количества на въглеводородите по план или по факт от началото на месеца до деня, за който се генерират данни. Последната колона
                „Относителна разлика до деня“ дава информация за разликата в натрупаното количество на определен продукт до деня в проценти.
            </p>
            <p>
                Потребителят няма право да редактира или изтрива записи в таблицата „Своден отчет по отбори (въглеводороди)“. Отчетът може само да бъде
                прехвърлен в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/Export.png" /></span> .
            </p>

        </section>


        <br />
        <br />
        <br />
        <section>
            <p class="summaryReport">"Своден отчет по отбори (енергийни) "</p>
            <p>
                "Своден отчет по отбори (енергийни)" се избира от меню Сводни отчети -> Своден отчет по отбори (енергийни),
                показано на Фиг.11.
            </p>
            <p><img class="img-rounded" src="~/Content/images/SummaryReport/Figura139.jpg" /></p>
            <p>Фиг.11</p>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Своден отчет по отбори (енергийни)“.
                В поле „производство“ може да се избере освен конкретно производство и „всички производства“, което автоматично зарежда и стойност „всички инсталации“
                в поле „инсталация“. След избиране на желаните параметри  в таблица „Параметри на отчета“ се натиска бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/butonPrilogi.png" /> </span> . Отваря се екран, показан на Фиг.12.
            </p>
            <p><img class="img-rounded" src="~/Content/images/SummaryReport/Figura140.jpg" /></p>
            <p>Фиг.12</p>
            <p>
                Отчетът съдържа информация за количествата на енергийните продукти по план и по факт, както и процентното им съотношение по план и по факт.
                Таблицата съдържа и сумарни колони като „До деня (факт %)“, „До деня (план Т)“ и „До деня (факт Т)“, които показват натрупаните
                количества на енергийните продукти по план или по факт от началото на месеца до деня, за който се генерират данни. Последната колона
                „Относителна разлика до деня“ дава информация за разликата в натрупаното количество на определен продукт до деня в проценти.
            </p>
            <p>
                Потребителят няма право да редактира или изтрива записи в таблицата „Своден отчет по отбори (енергийни)“. Отчетът може само да бъде
                прехвърлен в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/Export.png" /></span> .
            </p>

        </section>

            <br />
            <br />
            <br />
            <section>
                <p class="summaryReport">Своден отчет "Данни за експедирани и доставени нефтопродукти"</p>
                <p>
                    Своден отчет „Данни за експедирани и доставени нефтопродукти“ се избира от меню Сводни отчети -> Данни за експедирани и доставени нефтопродукти,
                    показано на Фиг.13.
                </p>
                <p><img class="img-rounded" src="~/Content/images/SummaryReport/dnevni2.jpg" /></p>
                <p>Фиг.13</p>
                <p>
                    Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Данни за експедирани и доставени нефтопродукти“,
                    подробно описани в  секция "Дневни данни за отчети"->"Данни за експедирани и доставени нефтопродукти". След избиране на желаните параметри в таблица „Параметри на отчета“
                    се натиска бутон <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/butonPrilogi.png" /> </span>.
                </p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura58.png" /></p>
                <p>Фиг.14</p>
                <p>
                    Таблица „Данни за експедирани и доставени нефтопродукти“ съдържа данни за отчета на експедирани и доставени нефтопродукти за избраните параметри „ден“ и
                    „посока“.
                </p>
                <p>
                    Данните в таблица „Данни за експедирани и доставени нефтопродукти“ не подлежат на редактиране. Те могат само да се експортват в Excel
                    чрез бутон <span><img class="img-rounded" src="~/Content/images/Shiftdata/Export.png" /></span>. Отчетът се експортира и може да се извика по
                    начин, както е показано на Фиг.15:
                </p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/Figura60.png" /></p>
                <p>Фиг.15</p>
            </section>


            <br />
            <br />
            <br />
            <section>
                <p class="summaryReport">Своден отчет "Количества продукти в магистрални тръбопроводи"</p>
                <p>
                    „Количества продукти в магистрални тръбопроводи“ се избира от меню Сводни отчети -> Количества продукти в магистрални тръбопроводи,
                    показано на Фиг.16.
                </p>
                <p><img class="img-rounded" src="~/Content/images/SummaryReport/Figura911.jpg" /></p>
                <p>Фиг.16</p>
                <p> Отваря се екран, съдържащ две таблици. В ляво на екрана се намира таблица „Параметри на отчета“, показана на Фиг.17.</p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/Фигура92.jpg" /></p>
                <p>Фиг.17</p>
                <p>В ляво на екрана се намира таблица „Количества продукти в магистрални тръбопроводи“, показана на Фиг.18.</p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/Фигура93.jpg" /></p>
                <p>Фиг.18</p>
                <p>Tаблицата „Параметри на отчета“ съдържа поле „Дата“ като необходим параметър, който трябва да се подаде за генериране на данни. </p>
                <p>Изборът в поле „Дата“ става от падащо меню, както е показано на Фиг.19.
                <p><img class="img-rounded" src="~/Content/images/DailyData/Фигура94.jpg" /></p>
                <p>Фиг.19</p>
                <p>Ако в полето „дата“ се въведе дата, по - голяма от днешната дата се извежда следното съобщение за грешка:</p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/Фигура95.jpg" /></p>
                <p>Фиг.20</p>
                <p>
                    След избиране на коректна дата се избира бутон <span>
                        <img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" style="box-shadow: 5px 5px 5px #888888;" />
                    </span> и се отваря екран, показан на Фиг.21:
                </p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/Фигура96.jpg" /></p>
                <p>Фиг.21</p>
                <p>
                    Таблица „Количества продукти в магистрални тръбопроводи“ съдържа данни за отчета на количества продукти в магистралните тръбопроводи за избрания параметър
                    „ден“.
                </p>
                <p>
                    Всяка колона от таблицата може да бъде филтрирана по следния начин:
                </p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/Фигура97.jpg" /></p>
                <p>Фиг.22</p>
                <br />

                <p>
                    Когато информацията в таблица “Количества продукти в магистрални тръбопроводи” е много голяма и не се събира на един екран, тя се прехвърля на следващи екрани като преминаването
                    между различните екрани става чрез бутоните, показани на Фиг.25.
                </p>
                <p><img class="img-rounded myPage" src="~/Content/images/Shiftdata/figura63.png" /></p>
                <p class="pCenterB">Фиг.23</p>
                <p>
                    Данните в таблица “Количества продукти в магистрални тръбопроводи” могат да бъдат експортирани в Excel чрез бутон
                    <span><img class="img-rounded btnShadow" src="~/Content/images/Shiftdata/Export.png" /></span> .
                </p>
                <p>Отчетът се експортира и може да се извика по начин, както е показано на Фиг.24:</p>
                <p><img class="img-rounded" src="~/Content/images/DailyData/figura39.png" /></p>
                <p>Фиг.24</p>
            </section>




            <br />
            <br />
            <br />
            <section>
                <p class="summaryReport">"Отчет за потвърждение на данните"</p>
                <p>
                    "Отчет за потвърждение на данните" се избира от меню Сводни отчети -> Отчет за потвърждение на данните,
                    показано на Фиг.25.
                </p>
                <p><img class="img-rounded" src="~/Content/images/SummaryReport/Фигура80.png" /></p>
                <p>Фиг.25</p>
                <p>
                    Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица „Отчет за потвърждение на данните“.
                    В поле „производство“ вече може да се избере освен конкретно производство и стойност „всички производства“, което автоматично зарежда
                    и стойност „всички инсталации“ в поле „инсталация“. След избиране на желаните параметри в таблица „Параметри на отчета“ се натиска бутон
                    <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /> </span>.
                    Отваря се екран, показан на Фиг.26.
                <p><img class="img-rounded" src="~/Content/images/SummaryReport/Figura91.jpg" /></p>
                <p>Фиг.26</p>
                <p>
                    Ако данните за съответната смяна или ден не са потвърдени, в съответната колона на таблицата се показва червен индикатор.
                    В противен случай – зелен индикатор. Предпоследната колона <b>„Дневни данни“</b> съдържа зелен индикатор, ако в предните две колони преди нея,
                    а именно колони <b>„Дневни материални потоци“</b> и <b>„Дневни енергийни потоци“</b> съдържат зелени индикатори,
                    т.е. дневните данни за измервателните позиции за материалните потоци, както и за енергийните потоци за поискания ден в таблица „Параметри на отчета“
                    са потвърдени. Последната колона съдържа календар, в който се визуализира червен или зелен индикатор за всеки ден от текущия месец в зависимост
                    от това дали за потвърдени данните за деня. В календара се попълват съответните индикатори за период от първо число на избрания месец до избрания
                    ден в поле „Дата“  в таблица „Параметри на отчета“.
                </p>
                <p>Информацията в таблица „Отчет за потвърждение на данните“ се опреснява на всеки 20 секунди.</p>
                <p>
                    Отчетът може само да бъде прехвърлен в pdf файл чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/SummaryReport/ExportPDF_button.png" /> </span>.
                    Отчетът се извиква по начин, както е показано на Фиг.27:
                </p>
                <p><img class="img-rounded" src="~/Content/images/SummaryReport/Фигура82.png" /></p>
                <p>Фиг.27</p>
            </section>
    </article>
</div>
