<h1 class="h1ForTitle">Сводни отчети</h1>
<br />
<div class="row">
    <article>
        <section>
            <hr class="hrUnderText" />
            <h2>Група на „Сменни данни“</h2>
            <p>В групата на „Сменни данни“ на меню „Сводни отчети“ се включват отчетите:</p>
            <ul>
                <li>Сменни данни за наличности по резервоари; </li>
                <li>Наличности в резервоари по продукти;</li>
                <li>Сменни данни за измервателни позиции – отчет.</li>
            </ul>
        </section>

        <br />
        <br />
        <br />
        <section>
            <p class="summaryReport">Своден отчет "Сменни данни за наличности по резервоари"</p>
            <p>Своден отчет „Сменни данни за наличности по резервоари“ се избира от меню Сводни отчети -> Сменни данни за наличности по резервоари, показано на Фиг.2.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/SummaryReport/Фигура74.png" /></p>
                <p>Фиг.2</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Сменни данни за наличности по резервоари“,
                подробно описани в секция "Сменни данни"->"Сменни данни за наличности по резервоари". След избиране на желаните параметри в
                таблица „Параметри на отчета“ се натиска бутон  <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>.
                Отваря се екран, показана на Фиг.3.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/SummaryReport/Fig75.png" /></p>
                <p>Фиг.3</p>
            </div>
            <p>
                Таблица „Сменни данни за наличности по резервоари“ съдържа данни за отчета за наличности по резервоари за избраните параметри на отчета „област“,
                „парк“, „дата“ и „смяна“. Потребителят няма право да редактира или изтрива записи в таблицата „Сменни данни за наличности по резервоари“.
                Отчетът може само да бъде прехвърлен в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/Export.png" /></span>.
            </p>
        </section>

        <br />
        <br />
        <br />
        <section>
            <p class="summaryReport">Своден отчет "Наличности в резервоари по продукти"</p>
            <p>Своден отчет „Наличности в резервоари по продукти“ се избира от меню Сводни отчети -> Наличности в резервоари по продукти, показано на Фиг.4.</p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Menu_1.png" /></p>
                <p>Фиг.4</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Наличности в резервоари по продукти“.
                Таблица „Параметри на отчета“ е подробно описана в секция Сменни данни -> Сменни данни за наличности в резервоари.
                След избиране на желаните параметри в таблицата се натиска бутон  <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>.
                Отваря се екран, показана на Фиг.5.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/SummaryReport/Фигура137А.jpg" /></p>
                <p>Фиг.5</p>
            </div>
            <p>
                Таблица „Наличности в резервоари по продукти“ съдържа данни за отчета за наличности по резервоари по продукти за избраните параметри „област“ и „дата“.
                Потребителят няма право да редактира или изтрива записи в таблицата „Наличности в резервоари по продукти“.
                Отчетът може само да бъде прехвърлен в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/Export.png" /></span>.
            </p>
        </section>

        <br />
        <br />
        <br />
        <section>
            <p class="summaryReport">Своден отчет "Сменни данни за измервателни позиции – отчет"</p>
            <p>
                „Сменни данни за измервателни позиции – отчет“ се избира от меню Сводни отчети -> Сменни данни за измервателни позиции – отчет,
                показано на Фиг.6.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/SummaryReport/Фигура76.png" /></p>
                <p>Фиг.6 </p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Сменни данни за измервателни позиции - отчет “,
                подробно описани в  секция "Сменни данни"->"Сменни данни за измервателни позиции". В поле „производство“ вече може да се избере освен
                конкретно производство и стойност „всички производства“, което автоматично зарежда и стойност „всички инсталации“ в поле „инсталация“.
                След избиране на желаните параметри  в таблица „Параметри на отчета“ се натиска бутон
                <span> <img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>. Отваря се екран, показан на Фиг.7.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/SummaryReport/Fig77.png" /></p>
                <p>Фиг.7</p>
            </div>

            <p>
                Таблицата „Сменни данни за измервателни позиции - отчет“ съдържа данни за отчета на измервателните позиции за избраните параметри „производство“,
                „инсталация“ и „дата“ за всяка една смяна за конкретната дата и общо за деня.
                Потребителят няма право да редактира или изтрива записи в таблицата „Сменни данни за измервателни позиции - отчет“.
                Отчетът може само да бъде прехвърлен в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/Export.png" /></span>.
            </p>
        </section>
        <br />
        <br />
        <br />
        <hr class="hrUnderText" />
        <h2>Група „Дневни данни“</h2>
        <p>В групата на „Дневни данни“ на меню „Сводни отчети“ се включват отчетите :</p>
        <ul>
            <li>Дневни данни за измервателни позиции – отчет;</li>
            <li>Своден отчет по отбори (въглеводороди);</li>
            <li>Своден отчет по отбори (енергийни);</li>
            <li>Ежедневно сведение (въглеводороди);</li>
            <li>Данни за експедирани и доставени нефтопродукти;</li>
            <li>Количества продукти в магистрални тръбопроводи.</li>
        </ul>
        <br />
        <section>
            <p class="summaryReport">Своден отчет "Дневни данни за измервателни позиции – отчет"</p>
            <p>
                „Дневни данни за измервателни позиции – отчет“ се избира от меню Сводни отчети -> Дневни данни за измервателни позиции – отчет,
                показано на Фиг.8.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura1.jpg" /></p>
                <p>Фиг.8</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Дневни данни за измервателни позиции – отчет“,
                подробно описани в секция "Дневни данни "->"Дневни данни за измервателни позиции". В поле „производство“ вече може да се избере освен
                конкретно производство и стойност „всички производства“, което автоматично зарежда и стойност „всички инсталации“ в поле „инсталация“.
                След избиране на желаните параметри  в таблица „Параметри на отчета“ се натиска бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/butonPrilogi.png" /> </span>.
                <span class="stronged">
                    Данни в отчета се генерират само ако са били потвърдени дневните данни за измервателни позиции за същите параметри (производство,
                    инсталация, дата), което се изпълнява от меню
                    Дневни данни -> Дневни данни за измервателни позиции – Материални потоци и
                    Дневни данни -> Дневни данни за измервателни позиции – Енергийни потоци.
                </span>  Отваря се екран, показан на Фиг.9.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura42.png" /></p>
                <p>Фиг.9</p>
            </div>
            <p>
                Таблица „Дневни данни за измервателни позиции - отчет“ съдържа данни за отчета на измервателните позиции за избраните параметри „производство“,
                „инсталация“ и „дата“ като в колона „До деня“ са натрупани количества от първо число на месеца до избрания ден в параметър на отчета „дата“.
            </p>
            <p>
                Потребителят няма право да редактира или изтрива записи в таблицата „Дневни данни за измервателни позиции - отчет“.
                Отчетът може само да бъде прехвърлен в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/Export.png" /></span>.
            </p>
        </section>


        <br />
        <br />
        <br />
        <section>
            <p class="summaryReport">"Своден отчет по отбори (въглеводороди) "</p>
            <p>
                "Своден отчет по отбори (въглеводороди)" се избира от меню Сводни отчети -> Своден отчет по отбори (въглеводороди),
                показано на Фиг.10.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura10.png" /></p>
                <p>Фиг.10</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Своден отчет по отбори (въглеводороди)“.
                В поле „производство“ може да се избере освен конкретно производство и „всички производства“, което автоматично зарежда и стойност „всички инсталации“
                в поле „инсталация“. След избиране на желаните параметри  в таблица „Параметри на отчета“ се натиска бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/butonPrilogi.png" /> </span> . Отваря се екран, показан на Фиг.11.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura43.png" style="width:98%;"/></p>
                <p>Фиг.11</p>
            </div>
            <p>
                Отчетът съдържа информация за количествата на въглеводородите по план и по факт, както и процентното им съотношение по план и по факт.
                Таблицата съдържа и сумарни колони като „До деня (факт %)“, „До деня (план Т)“ и „До деня (факт Т)“, които показват натрупаните
                количества на въглеводородите по план или по факт от началото на месеца до деня, за който се генерират данни. Последната колона
                „Относителна разлика до деня“ дава информация за разликата в натрупаното количество на определен продукт до деня в проценти.
            </p>
            <p>
                Потребителят няма право да редактира или изтрива записи в таблицата „Своден отчет по отбори (въглеводороди)“. Отчетът може само да бъде
                прехвърлен в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/Export.png" /></span> .
            </p>

        </section>

        <br />
        <br />
        <br />
        <section>
            <p class="summaryReport">"Ежедневно сведение (въглеводороди) "</p>
            <p>
                "Ежедневно сведение (въглеводороди)" се избира от меню Сводни отчети -> Ежедневно сведение (въглеводороди),
                показано на Фиг.12.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/EgednWyglew.png" /></p>
                <p>Фиг.12</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Ежедневно сведение (въглеводороди)”.
                В поле „производство“ може да се избере освен конкретно производство и „всички производства“, което автоматично зарежда и стойност
                „всички инсталации“ в поле „инсталация“. След избиране на желаните параметри в таблица „Параметри на отчета“ се натиска бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/butonPrilogi.png" /> </span> . Отваря се екран, показан на Фиг.13.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/SummaryReport/Figura135.jpg" /></p>
                <p>Фиг.13</p>
            </div>
            <p>
                Отчетът съдържа информация за количествата на въглеводородите за дата, подадена в таблица „Параметри на отчета“. Таблицата съдържа сумарни
                колони за количествата на измервателните позиции поотделно за трите вида смени за избрания ден. Последната колона „Количество за деня“ съдържа
                общото количество на даден въглеводород за избрания ден.
            </p>
            <p>
                Потребителят няма право да редактира или изтрива записи в таблицата „Ежедневно сведение (въглеводороди)“. Отчетът може само да бъде
                прехвърлен в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/Export.png" /></span> .
            </p>

        </section>



        <br />
        <br />
        <br />
        <section>
            <p class="summaryReport">"Своден отчет по отбори (енергийни) "</p>
            <p>
                "Своден отчет по отбори (енергийни)" се избира от меню Сводни отчети -> Своден отчет по отбори (енергийни),
                показано на Фиг.14.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/OtboriWyglew.png"></p>
                <p>Фиг.14</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Своден отчет по отбори (енергийни)“.
                В поле „производство“ може да се избере освен конкретно производство и „всички производства“, което автоматично зарежда и стойност „всички инсталации“
                в поле „инсталация“. След избиране на желаните параметри  в таблица „Параметри на отчета“ се натиска бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/butonPrilogi.png" /> </span> . Отваря се екран, показан на Фиг.15.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura44.png" style="width:96%;" /></p>
                <p>Фиг.15</p>
            </div>
            <p>
                Отчетът съдържа информация за количествата на енергийните продукти по план и по факт, както и процентното им съотношение по план и по факт.
                Таблицата съдържа и сумарни колони като „До деня (факт %)“, „До деня (план Т)“ и „До деня (факт Т)“, които показват натрупаните
                количества на енергийните продукти по план или по факт от началото на месеца до деня, за който се генерират данни. Последната колона
                „Относителна разлика до деня“ дава информация за разликата в натрупаното количество на определен продукт до деня в проценти.
            </p>
            <p>
                Потребителят няма право да редактира или изтрива записи в таблицата „Своден отчет по отбори (енергийни)“. Отчетът може само да бъде
                прехвърлен в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/Export.png" /></span> .
            </p>
        </section>

        <br />
        <br />
        <br />
        <section>
            <p class="summaryReport">Своден отчет "Данни за експедирани и доставени нефтопродукти"</p>
            <p>
                Своден отчет „Данни за експедирани и доставени нефтопродукти“ се избира от меню Сводни отчети -> Данни за експедирани и доставени нефтопродукти,
                показано на Фиг.16.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura2.png" /></p>
                <p>Фиг.16</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Данни за експедирани и доставени нефтопродукти“,
                подробно описани в  секция "Дневни данни "->"Данни за експедирани и доставени нефтопродукти". След избиране на желаните параметри в таблица „Параметри на отчета“
                се натиска бутон <span><img class="img-rounded btnApply" src="~/Content/images/ShiftData/butonPrilogi.png" /> </span>.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura45.png" style="width:96%;" /></p>
                <p>Фиг.17</p>
            </div>
            <p>
                Таблица „Данни за експедирани и доставени нефтопродукти“ съдържа данни за отчета на експедирани и доставени нефтопродукти за избраните параметри „ден“ и
                „посока“.
            </p>
            <p>
                Данните в таблица „Данни за експедирани и доставени нефтопродукти“ не подлежат на редактиране. Те могат само да се експортват в Excel
                чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span>. Отчетът се експортира и може да се извика по
                начин, както е показано на Фиг.17:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Figura60.png" style="width:96%;" /></p>
                <p>Фиг.17</p>
            </div>
        </section>
        <section>
            <p class="summaryReport">Своден отчет "Количества продукти в магистрални тръбопроводи"</p>
            <p>
                „Количества продукти в магистрални тръбопроводи“ се избира от меню Сводни отчети -> Количества продукти в магистрални тръбопроводи,
                показано на Фиг.18.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura3.png" /></p>
                <p>Фиг.18</p>
            </div>
            <p>
                Отваря се екран, съдържащ  две таблици. В ляво на екрана се намира таблица „Параметри на отчета“ и в дясно на екрана таблица
                с отчета „Количества продукти в магистрални тръбопроводи“, подробно описани в секция Сменни данни -> Количества продукти в магистрални тръбопроводи .
            </p>
            <p>
                След избиране на коректна дата се избира бутон <span> <img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>
                и се отваря екран, показан на Фиг.19:
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Фигура96.jpg" /></p>
                <p>Фиг.19</p>
            </div>
            <p>
                Таблица „Количества продукти в магистрални тръбопроводи“ съдържа данни за отчета на количества продукти в магистралните
                тръбопроводи за избрания параметър „ден“.
            </p>
            <p>Всяка колона от таблицата може да бъде филтрирана по следния начин: </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/DailyData/Фигура97.jpg" /></p>
                <p>Фиг.20</p>
            </div>
            <br />
            <p>
                Когато информацията в таблица “Количества продукти в магистрални тръбопроводи” е много голяма и не се събира на един екран, тя се прехвърля на следващи екрани като преминаването
                между различните екрани става чрез бутоните, показани на Фиг.21.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/Shiftdata/figura63.png" /></p>
                <p>Фиг.21</p>
            </div>
            <p>
                Данните в таблица “Количества продукти в магистрални тръбопроводи” могат да бъдат експортирани в Excel чрез бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
            </p>
        </section>

        <br />
        <br />
        <br />
        <hr class="hrUnderText" />
        <h2>Група „Месечни количества“</h2>
        <p>
            В групата на „Месечни количества“ на меню „Сводни отчети“ се включва отчет <span class="stronged"> "Количества продукти във вътрешни тръбопроводи“</span> и
            отчет <span class="stronged">„Количества продукти в технологични инсталации“.</span>
        </p>
        <br />
        <section>
            <p class="summaryReport">Количества продукти във вътрешни тръбопроводи</p>
            <p>
                Отчетът "Количества продукти във вътрешни тръбопроводи" се избира от меню Сводни отчети -> Количества продукти във вътрешни тръбопроводи,
                показано на Фиг.23.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/SummaryReport/Figura139A.jpg" /></p>
                <p>Фиг.23</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Количества продукти във вътрешни тръбопроводи“.
                Таблица „Параметри на отчета“ е подробно описана в секция "Месечни данни" -> "Количества продукти във вътрешни тръбопроводи". След избиране на
                желаните параметри в таблицата се натиска бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /> </span>.
                Отваря се екран, показан на Фиг.24.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded" src="~/Content/images/SummaryReport/Figura140А.jpg" /></p>
                <p>Фиг.24</p>
            </div>
            <p>
                Таблица „Количества продукти във вътрешни тръбопроводи“ съдържа данни за отчета за количества продукти във вътрешни тръбопроводи за избрания параметър „месец“.
            </p>
            <p>
                Потребителят няма право да редактира или изтрива записи в отчета „Количества продукти във вътрешни тръбопроводи“.
            </p>
            <p>
                Данните в таблица “Количества продукти във вътрешни тръбопроводи” могат да бъдат експортирани в Excel чрез бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
            </p>
        </section>
        <section>
            <p class="summaryReport">Количества продукти в технологични инсталации</p>
            <p>
                Отчетът "Количества продукти в технологични инсталации" се избира от меню Сводни отчети -> Количества продукти в технологични инсталации,
                показано на Фиг.24A.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura139B.png" /></p>
                <p>Фиг.24A</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Количества продукти в технологични инсталации“.
                Таблица „Параметри на отчета“ е подробно описана в секция "Месечни данни" -> "Количества продукти в технологични инсталации". След избиране на
                желания параметър в таблицата се натиска бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /> </span>.
                Отваря се екран, показан на Фиг.24B.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/Figura114.png" /></p>
                <p>Фиг.24B</p>
            </div>
            <p>
                Таблица „Количества продукти в технологични инсталации“ съдържа данни за отчета за количества продукти в технологични инсталации за избрания параметър "месец".
            </p>
            <p>
                Потребителят няма право да редактира или изтрива записи в отчета „Количества продукти в технологични инсталации“.
            </p>
            <p>
                Данните в таблица “Количества продукти в технологични инсталации” могат да бъдат експортирани в Excel чрез бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
            </p>
        </section>

        <br />
        <br />
        <br />
        <hr class="hrUnderText" />
        <h2>Група „Месечни данни“</h2>
        <p>
            В групата на „Месечни данни“ на меню „Сводни отчети“ се включват следните отчети, показани на Фиг.25:
        </p>
        <div class="centeredDivForImages">
            <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura25.png" /></p>
            <p>Фиг.25</p>
        </div>
        <br />
        <section>
            <p class="summaryReport">Месечни данни за въглеводороди</p>
            <p>
                Отчетът "Месечни данни за въглеводороди" се избира от меню Сводни отчети -> Месечни данни за въглеводороди,
                показано на Фиг.26.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura26.png" /></p>
                <p>Фиг.26</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Месечни данни за въглеводороди“.
                Таблица „Параметри на отчета“ е подробно описана в секция "Месечни данни" -> "Месечни данни за въглеводороди". След избиране на
                желания параметър в таблицата се натиска бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /> </span>.
                Отваря се екран, показан на Фиг.27.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/MonthlyDataHydroCarbons/Figura190.png" /></p>
                <p>Фиг.27</p>
            </div>
            <p>
                Таблица „Месечни данни за въглеводороди“ съдържа данни за отчета за Месечните данни за въглеводороди за избрания параметър „месец“.
            </p>
            <p>
                Потребителят няма право да редактира или изтрива записи в отчета „Месечни данни за въглеводороди“.
            </p>
            <p>
                Данните в таблица “Месечни данни за въглеводороди” могат да бъдат експортирани в Excel чрез бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
            </p>
        </section>
        <section>
            <p class="summaryReport">Месечни данни за химикали</p>
            <p>
                Отчетът "Месечни данни за химикали" се избира от меню Сводни отчети -> Месечни данни за химикали,
                показано на Фиг.28.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura27.png" /></p>
                <p>Фиг.28</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Месечни данни за химикали“.
                Таблица „Параметри на отчета“ е подробно описана в секция "Месечни данни" -> "Месечни данни за химикали". След избиране на
                желания параметър в таблицата се натиска бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /> </span>.
                Отваря се екран, показан на Фиг.29.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/MonthlyDataChemicals/Figura202.png" /></p>
                <p>Фиг.29</p>
            </div>
            <p>
                Таблица „Месечни данни за химикали“ съдържа данни за отчета за Месечните данни за химикали за избрания параметър „месец“.
            </p>
            <p>
                Потребителят няма право да редактира или изтрива записи в отчета „Месечни данни за химикали“.
            </p>
            <p>
                Данните в таблица “Месечни данни за химикали” могат да бъдат експортирани в Excel чрез бутон
                <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
            </p>
        </section>
        <section>
            <p class="summaryReport">Месечни данни за свежа вода</p>
            <p> Отчетът "Месечни данни за свежа вода" се избира от меню Сводни отчети -> Месечни данни за свежа вода,показано на Фиг.30. </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura28.png" /></p>
                <p>Фиг.30</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Месечни данни за свежа вода“.
                Таблица „Параметри на отчета“ е подробно описана в секция "Месечни данни" -> "Месечни данни за свежа вода". След избиране на
                желания параметър в таблицата се натиска бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /> </span>.
                Отваря се екран, показан на Фиг.31.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura33.png" /></p>
                <p>Фиг.31</p>
            </div>
            <p>Таблица „Месечни данни за свежа вода“ съдържа данни за отчета за Месечните данни за свежа вода за избрания параметър „месец“.</p>
            <p>Потребителят няма право да редактира или изтрива записи в отчета „Месечни данни за свежа вода“.</p>
            <p>Данните в таблица “Месечни данни за свежа вода” могат да бъдат експортирани в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
            </p>
        </section>
        <section>
            <p class="summaryReport">Месечни данни за оборотна вода</p>
            <p> Отчетът "Месечни данни за оборотна вода" се избира от меню Сводни отчети -> Месечни данни за оборотна вода,показано на Фиг.32. </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura29.png" /></p>
                <p>Фиг.32</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Месечни данни за оборотна вода“.
                Таблица „Параметри на отчета“ е подробно описана в секция "Месечни данни" -> "Месечни данни за оборотна вода". След избиране на
                желания параметър в таблицата се натиска бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /> </span>.
                Отваря се екран, показан на Фиг.32.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/MonthlyDataCirculating/Figura159.png" /></p>
                <p>Фиг.32</p>
            </div>
            <p>Таблица „Месечни данни за оборотна вода“ съдържа данни за отчета за Месечните данни за оборотна вода за избрания параметър „месец“.</p>
            <p>Потребителят няма право да редактира или изтрива записи в отчета „Месечни данни за оборотна вода“.</p>
            <p>
                Данните в таблица “Месечни данни за оборотна вода” могат да бъдат експортирани в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
            </p>
        </section>
        <section>
            <p class="summaryReport">Месечни данни за химически очистена вода</p>
            <p> Отчетът "Месечни данни за химически очистена вода" се избира от меню Сводни отчети -> Месечни данни за химически очистена вода,показано на Фиг.33. </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura30.png" /></p>
                <p>Фиг.33</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Месечни данни за химически очистена вода“.
                Таблица „Параметри на отчета“ е подробно описана в секция "Месечни данни" -> "Месечни данни за химически очистена вода". След избиране на
                желания параметър в таблицата се натиска бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /> </span>.
                Отваря се екран, показан на Фиг.34.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/MonthlyData/MonthlyDataChemical/Figura170.png" /></p>
                <p>Фиг.34</p>
            </div>
            <p>Таблица „Месечни данни за химически очистена вода“ съдържа данни за отчета за Месечните данни за химически очистена вода за избрания параметър „месец“.</p>
            <p>Потребителят няма право да редактира или изтрива записи в отчета „Месечни данни за химически очистена вода“.</p>
            <p>
                Данните в таблица “Месечни данни за химически очистена вода” могат да бъдат експортирани в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
            </p>
        </section>
        <section>
            <p class="summaryReport">Месечни данни за питейна вода</p>
            <p> Отчетът "Месечни данни за питейна вода" се избира от меню Сводни отчети -> Месечни данни за питейна вода,показано на Фиг.35. </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figira32.png" /></p>
                <p>Фиг.35</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Месечни данни за питейна вода“.
                Таблица „Параметри на отчета“ е подробно описана в секция "Месечни данни" -> "Месечни данни за питейна вода". След избиране на
                желания параметър в таблицата се натиска бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /> </span>.
                Отваря се екран, показан на Фиг.36.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura34.png" /></p>
                <p>Фиг.36</p>
            </div>
            <p>Таблица „Месечни данни за питейна вода“ съдържа данни за отчета за Месечните данни за питейна вода за избрания параметър „месец“.</p>
            <p>Потребителят няма право да редактира или изтрива записи в отчета „Месечни данни за питейна вода“.</p>
            <p>
                Данните в таблица “Месечни данни за питейна вода” могат да бъдат експортирани в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
            </p>
        </section>
        <section>
            <p class="summaryReport">Месечни данни за топлоенергия</p>
            <p> Отчетът "Месечни данни за топлоенергия" се избира от меню Сводни отчети -> Месечни данни за топлоенергия,показано на Фиг.37. </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura35.png" /></p>
                <p>Фиг.37</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Месечни данни за топлоенергия“.
                Таблица „Параметри на отчета“ е подробно описана в секция "Месечни данни" -> "Месечни данни за топлоенергия". След избиране на
                желания параметър в таблицата се натиска бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /> </span>.
                Отваря се екран, показан на Фиг.38.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/Images/SummaryReport/Figura36.png" /></p>
                <p>Фиг.38</p>
            </div>
            <p>Таблица „Месечни данни за топлоенергия“ съдържа данни за отчета за Месечните данни за топлоенергия за избрания параметър „месец“.</p>
            <p>Потребителят няма право да редактира или изтрива записи в отчета „Месечни данни за топлоенергия“.</p>
            <p>
                Данните в таблица “Месечни данни за топлоенергия” могат да бъдат експортирани в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
            </p>
        </section>
        <section>
            <p class="summaryReport">Месечни данни за електрическа енергия</p>
            <p> Отчетът "Месечни данни за електрическа енергия" се избира от меню Сводни отчети -> Месечни данни за електрическа енергия,показано на Фиг.39. </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura37.png" /></p>
                <p>Фиг.39</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Месечни данни за електрическа енергия“.
                Таблица „Параметри на отчета“ е подробно описана в секция "Месечни данни" -> "Месечни данни за електрическа енергия". След избиране на
                желания параметър в таблицата се натиска бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /> </span>.
                Отваря се екран, показан на Фиг.40.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/Images/SummaryReport/Figura38.png" /></p>
                <p>Фиг.40</p>
            </div>
            <p>Таблица „Месечни данни за електрическа енергия“ съдържа данни за отчета за Месечните данни за електрическа енергия за избрания параметър „месец“.</p>
            <p>Потребителят няма право да редактира или изтрива записи в отчета „Месечни данни за електрическа енергия“.</p>
            <p>
                Данните в таблица “Месечни данни за електрическа енергия” могат да бъдат експортирани в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
            </p>
        </section>
        <section>
            <p class="summaryReport">Месечни данни за въздух</p>
            <p> Отчетът "Месечни данни за въздух" се избира от меню Сводни отчети -> Месечни данни за въздух,показано на Фиг.41. </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura39.png" /></p>
                <p>Фиг.41</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Месечни данни за въздух“.
                Таблица „Параметри на отчета“ е подробно описана в секция "Месечни данни" -> "Месечни данни за въздух". След избиране на
                желания параметър в таблицата се натиска бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /> </span>.
                Отваря се екран, показан на Фиг.42.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/Images/SummaryReport/Figura340.png" /></p>
                <p>Фиг.42</p>
            </div>
            <p>Таблица „Месечни данни за въздух“ съдържа данни за отчета за Месечните данни за въздух за избрания параметър „месец“.</p>
            <p>Потребителят няма право да редактира или изтрива записи в отчета „Месечни данни за въздух“.</p>
            <p>
                Данните в таблица “Месечни данни за въздух” могат да бъдат експортирани в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
            </p>
        </section>
        <section>
            <p class="summaryReport">Месечни данни за азот</p>
            <p> Отчетът "Месечни данни за азот" се избира от меню Сводни отчети -> Месечни данни за азот, показано на Фиг.43. </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Figura40.png" /></p>
                <p>Фиг.43</p>
            </div>
            <p>
                Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица с отчета „Месечни данни за азот“.
                Таблица „Параметри на отчета“ е подробно описана в секция "Месечни данни" -> "Месечни данни за азот". След избиране на
                желания параметър в таблицата се натиска бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /> </span>.
                Отваря се екран, показан на Фиг.44.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/Images/SummaryReport/Figura41.png" /></p>
                <p>Фиг.44</p>
            </div>
            <p>Таблица „Месечни данни за азот“ съдържа данни за отчета за Месечните данни за азот за избрания параметър „месец“.</p>
            <p>Потребителят няма право да редактира или изтрива записи в отчета „Месечни данни за азот“.</p>
            <p>
                Данните в таблица “Месечни данни за азот” могат да бъдат експортирани в Excel чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
            </p>
        </section>

            <br />
            <br />
            <br />
            <hr class="hrUnderText" />
            <h2>Група „Дневни данни – Диспечеризация и ЕОЗ“</h2>
            <p>В групата на „Дневни данни – Диспечеризация и ЕОЗ“ на меню „Сводни отчети“ се включва отчет „Експедиция и доставки – Диспечеризация и ЕОЗ“.</p>
            <br />
            <section>

                <br />
                <p class="summaryReport">Експедиция и доставки – Диспечеризация и ЕОЗ"</p>
                <p>
                    Отчетът "Експедиция и доставки – Диспечеризация и ЕОЗ" се избира от меню Сводни отчети -> Експедиция и доставки – Диспечеризация и ЕОЗ,
                    показано на Фиг.45.
                </p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded " src="~/Content/images/SummaryReport/Figura138АА.jpg" /></p>
                    <p>Фиг.45</p>
                </div>
                <p>
                    Отваря се екран, съдържащ в ляво таблица „Параметри на отчета” и в дясно таблица „Експедиция и доставки – Диспечеризация и ЕОЗ“, подробно описани в секция
                    "Дневни данни " -> "Данни за експедирани и доставени нефтопродукти". След като бъдат попълнени двете полета в таблица „Параметри на отчета“  се натиска бутон
                    <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /> </span>.
                    Отваря се екран, показан на Фиг.46.
                </p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded " src="~/Content/images/SummaryReport/Figura136.jpg" /></p>
                    <p>Фиг.46</p>
                </div>
                <p>
                    Отчетът съдържа информация за експедирани и доставени нефтопродукти за дата, подадена в таблица „Параметри на отчета“. Таблицата съдържа колони
                    за количествата експедиция и доставки автотранспорт, Ж.П. транспорт, доставки с танкер и доставки по продуктопроводите за избрания ден. Последната
                    колона „Общо за деня“ съдържа общото количество доставки за избрания ден.
                </p>
                <p>
                    Потребителят няма право да редактира или изтрива записи в таблицата „Експедиция и доставки – Диспечеризация и ЕОЗ“.
                </p>
                <p>
                    Данните в таблица “Експедиция и доставки – Диспечеризация и ЕОЗ” могат да бъдат експортирани в Excel чрез бутон
                    <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/Export.png" /></span> .
                </p>
            </section>

            <br />
            <br />
            <br />
            <hr class="hrUnderText" />
            <h2>Група „Контрол на изпълнителска дисциплина“</h2>
            <p>В групата на „Контрол на изпълнителска дисциплина“ на меню „Сводни отчети“ се включва „Отчет за потвърждение на данните“.</p>
            <br />
            <section>
                <p class="summaryReport">"Отчет за потвърждение на данните"</p>
                <p>
                    "Отчет за потвърждение на данните" се избира от меню Сводни отчети -> Отчет за потвърждение на данните,
                    показано на Фиг.47.
                </p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded " src="~/Content/images/SummaryReport/Фигура80.png" /></p>
                    <p>Фиг.47</p>
                </div>
                <p>
                    Отваря се екран, който в ляво съдържа таблица „Параметри на отчета“ и в дясно таблица „Отчет за потвърждение на данните“.
                    В поле „производство“ може да се избере освен конкретно производство и стойност „всички производства“, което автоматично зарежда
                    и стойност „всички инсталации“ в поле „инсталация“. След избиране на желаните параметри в таблица „Параметри на отчета“ се натиска бутон
                    <span><img class="img-rounded btnApply" src="~/Content/images/Shiftdata/butonPrilogi.png" /></span>.
                    Отваря се екран, показан на Фиг.48.
                </p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded " src="~/Content/images/SummaryReport/Figura91.jpg" /></p>
                    <p>Фиг.48</p>
                </div>
                <p>
                    Ако данните за съответната смяна или ден не са потвърдени, в съответната колона на таблицата се показва червен индикатор.
                    В противен случай – зелен индикатор. Предпоследната колона <span class="stronged">„Дневни данни“</span> съдържа зелен индикатор,
                    ако в предните две колони преди нея, а именно колони <span class="stronged">„Дневни материални потоци“</span> и
                    <span class="stronged"> „Дневни енергийни потоци“</span> съдържат зелени индикатори,
                    т.е. дневните данни за измервателните позиции за материалните потоци, както и за енергийните потоци за поискания ден в таблица „Параметри на отчета“
                    са потвърдени. Последната колона съдържа календар, в който се визуализира червен или зелен индикатор за всеки ден от текущия месец в зависимост
                    от това дали за потвърдени данните за деня. В календара се попълват съответните индикатори за период от първо число на избрания месец до избрания
                    ден в поле „Дата“  в таблица „Параметри на отчета“.
                </p>
                <p>Информацията в таблица „Отчет за потвърждение на данните“ се опреснява на всеки 20 секунди.</p>
                <p>
                    Отчетът може само да бъде прехвърлен в pdf файл чрез бутон <span><img class="img-rounded btnApply" src="~/Content/images/SummaryReport/ExportPDF_button.png" /> </span>.
                    Той се извиква по начин, както е показано на Фиг.49:
                </p>
                <div class="centeredDivForImages">
                    <p><img class="img-rounded " src="~/Content/images/SummaryReport/Фигура82.png" /></p>
                    <p>Фиг.49</p>
                </div>
            </section>
            <hr class="hrUnderText" />
            <div class="container" style="margin-left:18em;">
                <div class="col-md-1 divimage">
                    <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="imgForStuff" />
                </div>
                <div class="col-md-11 ForStuff">
                    <h4 style="text-align:center">Кой има право да обработва Сводни отчети ?</h4>
                    <p>
                        Право за генериране на Сводни отчети има потребител с присъединена роля
                        <span class="stronged">"SummaryReporter"</span>.
                    </p>
                    <p>
                        Право за генериране на Своден отчет "Дневни данни – Диспечеризация и ЕОЗ" има само потребител с присъединена роля
                        <span class="stronged">"OverseerReporter"</span>.
                    </p>
                </div>
            </div>
            <br />
            <hr class="hrUnderText" />
</article>
</div>
