<h1 class="h1ForTitle">Сводни отчети</h1>
<div class="row">
    <article>
        <section>
            <hr class="hrUnderText" />
            <p>Системата позволява обобщаване на събраните данни в сводни отчети, служещи за изготвянето на материален баланс.<p />
            <p>
                Сводните отчети се генерират на база определени критерии след потвърждаването на сменни, дневни или месечни данни в системата.
                Те се избират от меню Сводни отчети, показано на Фиг.1.
            </p>
            <div class="centeredDivForImages">
                <p><img class="img-rounded imgboxshadow" src="~/Content/images/SummaryReport/Menu_1.png" /></p>
                <p>Фиг.1</p>
            </div>
        </section>
        <hr class="hrUnderText" />
        <div class="container" style="margin-left:18em;">
            <div class="col-md-1 divimage">
                <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="imgForStuff" />
            </div>
            <div class="col-md-11 ForStuff">
                <h4 style="text-align:center">Кой има право да обработва Сводни отчети?</h4>
                <p>
                    Право за генериране на Сводни отчети има потребител с присъединена роля <span class="stronged">"SummaryReporter"</span>.<br />
                    Право за генериране на Своден отчет "Дневни данни – Диспечеризация и ЕОЗ" има само потребител с присъединена роля <span class="stronged">"OverseerReporter"</span>.
                </p>
            </div>
        </div>
        <br />
        <hr class="hrUnderText" />
    </article>
</div>


