<h1 class="myh1">Сводни отчети</h1>
<div class="row">
    <article>
        <section>
            <div class="row myrow">
                <hr class="myhr1" />
                <p>Системата позволява обобщаване на събраните данни в сводни отчети, служещи за изготвянето на материален баланс.<p />
                <p>
                    Сводните отчети се генерират на база определени критерии след потвърждаването на сменни, дневни или месечни данни в системата.
                    Те се избират от меню Сводни отчети, показано на Фиг.1
                </p>
            </div>
            <p><img class="img-rounded" src="~/Content/images/SummaryReport/СводниОтчети.jpg" /></p>
            <p>Фиг.1</p>
        </section>
    </article>
</div>
<div class="container mycontainer">
    <div class="row">
        <hr class="myhr2" />
        <div class="col-md-1 divimage">
            <img src="~/Content/Images/ShiftData/technical_stuff.gif" class="myimg" />
        </div>
        <div class="col-md-11 mycol11">
            <h4 style="text-align:center">Кой има право да обработва Сводни отчети ?</h4>
            <p>
                Право за генериране на сводни отчети има основно потребител с присъединена роля <span class="stronged">"SummaryReporter"</span>.
                Право за генериране на своден отчет "Дневни данни – Диспечеризация и ЕОЗ" има само потребител с присъединена роля <span class="stronged">"OverseerReporter"</span>.
            </p>
        </div>
    </div>
</div>