@using CollectingProductionDataSystem.Web.ViewModels.Identity;

@model AsignRoleViewModel
<div>
    @Html.HiddenFor(m => m.Id) @Html.HiddenFor(m => m.Name) @Html.EditorFor(m => m.IsUserInRole) <label>@Html.DisplayFor(m => m.Name)</label>
</div>
