<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CollectingProductionDataSystem.Phd2SqlProductionData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
                                                                                                                      </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="logs\" />
      <datePattern value="yyyy.MM.dd'_Phd2SqlProductionData.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="CollectingProductionDataSystem.Phd2SqlProductionData">
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
  </log4net>
  <applicationSettings>
    <CollectingProductionDataSystem.Phd2SqlProductionData.Properties.Settings>
        <setting name="PHD_HOST" serializeAs="String">
            <value>srv-vm-mes-phd.neftochim.bg</value>
        </setting>
        <setting name="PHD_PORT" serializeAs="String">
            <value>3150</value>
        </setting>
        <setting name="IDLE_TIMER_INSPECTION_POINTS" serializeAs="String">
            <value>00:15:00</value>
        </setting>
        <setting name="SYNC_INSPECTION_POINTS" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="IDLE_TIMER_PRIMARY" serializeAs="String">
            <value>00:01:00</value>
        </setting>
        <setting name="SYNC_PRIMARY" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="IDLE_TIMER_INVENTORY" serializeAs="String">
            <value>00:20:00</value>
        </setting>
        <setting name="SYNC_INVENTORY" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="FORCE_REGIONAL_SETTINGS" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="CULTURE_INFO" serializeAs="String">
            <value>bg-BG</value>
        </setting>
        <setting name="INSPECTION_DATA_MINIMUM_CONFIDENCE" serializeAs="String">
            <value>49</value>
        </setting>
        <setting name="INSPECTION_DATA_MAX_ROWS" serializeAs="String">
            <value>1</value>
        </setting>
        <setting name="INSPECTION_DATA_SAMPLETYPE" serializeAs="String">
            <value>Snapshot</value>
        </setting>
        <setting name="UPDATE_INVENTORY_DATA_INTERVAL" serializeAs="String">
            <value>8</value>
        </setting>
        <setting name="SYNC_MEASUREMENTS_POINTS" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="IDLE_TIMER_MEASUREMENTS_POINTS" serializeAs="String">
            <value>01:00:00</value>
        </setting>
    </CollectingProductionDataSystem.Phd2SqlProductionData.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="CollectingPrimaryDataSystemConnection" connectionString="Data Source=dev;Initial Catalog=CollectingPrimaryDataSystem;User ID=WorkstationsObserver;Password=K@lvad0s;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


</configuration>