@model IEnumerable<CollectingProductionDataSystem.Web.Areas.Administration.ViewModels.EditUserViewModel>

@{
    Layout = "~/Views/Shared/_KendoLayout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        User Accounts
    </div>
    @Html.AntiForgeryToken()
    @(Html.Kendo()
          .Grid(Model)
          .Name("users")
          .Columns(
               columns =>
               {
                   columns.Bound(c => c.Id).Width(40);
                   columns.Bound(c => c.UserName);
                   columns.Bound(c => c.Email);
                   columns.Bound(c => c.FullName);
                   columns.Bound(c => c.Occupation);
                   columns.Command(c => { c.Edit(); c.Destroy(); });
               })
          .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("EditUserViewModel").Window(window => window.Scrollable(false)))
          .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(new[] { 10, 20, 50, 100 })
                .ButtonCount(5))
          .Sortable()
          .Scrollable(scr => scr.Height(430))
          .Filterable()
          .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .ServerOperation(true)
                .Read(read => read.Action("GetAllUsers", "Ajax", new { area = "Administration" }).Data("sendAntiForgery"))
                .Events(events => events.Error("error_handler"))
                        .Model(model =>
                        {
                            model.Id(p => p.Id);
                            model.Field(p => p.Id).Editable(false);
                            model.Field(p => p.UserName);
                            model.Field(p => p.Email);
                        })
                        .Update(update => update.Action("Edit", "User", new { area = "Administration" }).Data("sendAntiForgery"))
                        .Destroy(update => update.Action("Delete", "User", new { area = "Administration" }).Data("sendAntiForgery"))
            )
    )
</div>
<div class="well well-sm">
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
</div>

@if (TempData["success"] != null)
{
    <div id="success-message" class="validation-summary-success">
        <label>@TempData["success"]</label>
    </div>
}

@section scripts{
    <script src="~/Scripts/custom/sendAntiForgery.js"></script>
    <script>
        $(document).ready(function () {
            var successMessage = $('#success-message');
            if (successMessage != null) {
                successMessage.fadeOut(2000);
            }
        });

        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }

    </script>
}

@section styles{
    <style>
        .k-edit-buttons {
            max-width: 650px;
            width: 632px;
        }

        .k-edit-form-container {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }

        div.k-window-content {
            width: 685px;
        }
    </style>
}

