<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <applicationSettings>
    <CollectingProductionDataSystem.Application.Properties.Settings>
      <setting name="PHD_HOST" serializeAs="String">
        <value>PHD-L35-1</value>
      </setting>
      <setting name="PHD_PORT" serializeAs="String">
        <value>3150</value>
      </setting>
      <setting name="PHD_SAMPLETYPE" serializeAs="String">
        <value>Snapshot</value>
      </setting>
      <setting name="PHD_API_VERSION" serializeAs="String">
        <value>RAPI200</value>
      </setting>
      <setting name="PHD_DATA_MIN_CONFIDENCE" serializeAs="String">
        <value>49</value>
      </setting>
      <setting name="PHD_DATA_MAX_ROWS" serializeAs="String">
        <value>1</value>
      </setting>
    </CollectingProductionDataSystem.Application.Properties.Settings>
  </applicationSettings>

</configuration>