<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http:\\s-api-1.neftochim.bg</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>s-api-1.neftochim.bg</MSDeployServiceURL>
    <DeployIisAppPath>CollectingProductionDataSystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>s-api-1.neftochim.bg\api1</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CollectingPrimaryDataSystemConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=s-api-1;Initial Catalog=CollectingPrimaryDataSystem;User ID=cpds;Password=Bmsyst3m" Name="Data Source=s-api-1;Initial Catalog=CollectingPrimaryDataSystem;User ID=cpds;Password=Bmsyst3m;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=s-api-1;Initial Catalog=CollectingPrimaryDataSystem;User ID=api-remote;Password=Bmsyst3m" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CollectingPrimaryDataSystemConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=s-api-1;Initial Catalog=CollectingPrimaryDataSystem;;User ID=api-remote;Password=Bmsyst3m;MultipleActiveResultSets=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CollectingPrimaryDataSystemConnection-Web.config Connection String">
      <ParameterValue>Data Source=s-api-1;Initial Catalog=CollectingPrimaryDataSystem;User ID=cpds;Password=Bmsyst3m;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>