.k-grid {
    width: 100%;
}

.grid-container {
    width: 100%;
}

.form-group {
    width: 100%;
}

.sidebar {
    display: inline-block;
    height: 500px;
    max-width: 95%;
    background-color: #fafaFa;
    color: black;
    padding: 0px;
    margin: 0px;
    border: 1px solid #080808;
}

a#slide {
    color: white;
    /*margin-top:-10px;*/
}

div#slide-text {
    height:20px;
    width:460px;
    overflow:hidden;
}

.sidebar-sidebaner-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-sidebaner {
    /*z-index: 5000;*/
    top: 585px;
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 500px;
    background-color: #222;
    border-color: #080808;
    color: white;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: 0;
    border-radius: 0 0 5px 5px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
    .sidebar {
        margin-right:-5px;
    }
}

.sidebar-wtapper {
    display: inline-block;
    max-width: 17%;
    margin-top: 25px;
}

div#page-wrapper {
    padding-left: 0px;
}

div#content-wrapper {
    display: inline-block;
    position: absolute;
    top: 55;
    margin-left: 30px;
    margin-right: 20px;
    padding-bottom:70px;
}

.sidebar-heading {
    color: darkgray;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.gothic {
    font-family: 'BankGothic RUSS Medium';
    font-size: 12px;
}

.margin-top-10 {
    margin-top:10px;
}

@font-face {
    font-family: 'BankGothic RUSS Medium';
    src: url(../../fonts/bank-gotic.ttf);
}
