@using CollectingProductionDataSystem.Web.Areas.NomManagement.Models.ViewModels;
@using Resources = App_GlobalResources.Resources;

@model IEnumerable<RelatedUnitMonthlyConfigsViewModel>
@(Html.Kendo()
    .MultiSelectFor(m => m)
    .AutoClose(false)
    .DataTextField("Code")
    .DataValueField("Id")
    .BindTo(Model)
    .ItemTemplate("<span class=\"order-id\">#= Code #</span> #= Name #")
    .Filter(FilterType.Contains)

        .DataSource(source =>
        {
            source.Custom()
                .Transport(transport =>
                {
                    transport.Read(read =>
                    {
                        read.Action("GetRelatedMonthly", "UnitMonthlyConfig", new { area = "NomManagement" }).Data("sendAntiForgery");
                    });
                });
        })
)
