@using CollectingProductionDataSystem.Web.Areas.NomManagement.Models.ViewModels;
@using Resources = App_GlobalResources.Resources;

@model IEnumerable<UnitDailyConfigUnitMonthlyConfigViewModel>
@(Html.Kendo()
    .MultiSelectFor(m => m)
    .AutoClose(false)
    .BindTo((IEnumerable<UnitDailyConfigUnitMonthlyConfigViewModel>)ViewData["relatedDailyUnits"])
    .DataTextField("Code")
    .DataValueField("UnitDailyConfigId")
    .ItemTemplate("<span class=\"order-id\">#= Code #</span> #= Name #")
)


