<div class="modal fade" id="modal-dialog" tabindex="-1" role="dialog" aria-labelledby="record-history-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div id="modal-dialog-body" class="modal-content">
            
        </div>
    </div>
</div>