<div class='row row-err-window'>
    <div class='col-lg-1'>
        <img src='~/Content/Images/danger.png' width='64px' height='64px' alt='Error!' />
    </div>
    <div class='col-lg-9 error-message-wrapper vcenter'>
        <h2 class='text-danger'>Грешка!</h2>
        <pre id='message' class='text-info'></pre>
    </div>
</div>
<hr />
<button class='center-block btn btn-default' onclick='closeWindow()'>Затвори</button>