@using CollectingProductionDataSystem.Web.ViewModels.Utility;
@using Resources = App_GlobalResources.Resources
@model ErrorScreenViewModel

<h1 class="text-danger">@(Model != null ? Model.Title : Resources.ErrorMessages.Error)</h1>
<hr/>
<h2 class="text-danger">@(Model != null ? Model.Title : Resources.ErrorMessages.Message)</h2>
<br/>
<p>@(Model != null ? Model.Contacts : Resources.ErrorMessages.ErrorContacts)</p>




