@using Resources = App_GlobalResources.Resources;
@{
    ViewBag.Title = Resources.Layout.NomUploadTitle;
    Layout = "~/Views/Shared/_KendoLayout.cshtml";
}

<div class="container">
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />

    <form method="post" enctype="multipart/form-data" action="/NomManagement/UploadNom/Upload">
        @Html.AntiForgeryToken()
        @(Html.Kendo().Upload()
            .Name("upload")
            .Async(async =>
                async.Save("Upload", "UploadNom")
                )
            .Multiple(false)
                            .Events(ev => ev.Success("uploadNom.onSuccess").Error("uploadNom.onError"))
        )
    </form>
    <div class="separator"></div>
    <div id="alert" class="alert alert-success" style="display:none;">
        <button id="close" class="close">×</button>
        <p></p>.
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/custom/uploadNom.js")
}

