@model IEnumerable<CollectingProductionDataSystem.Models.InventoryTank>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @foreach(var tank in Model)
    {
        <p>@tank.ControlPoint</p>
    }
</div>