@{
    ViewBag.Title = "Home Page";
}

@{if (ViewBag.StatusMessage!=null)
  {
    if (ViewBag.MessageType == "Success")
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p class="text-danger">@ViewBag.StatusMessage</p>
        </div>
    }
  }
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


