@using CollectingProductionDataSystem.Models.Productions;
@using CollectingProductionDataSystem.Web.Areas.ManagementDashBoard.Models;

@model AllProcessUnitProductionPlanViewModel

<div class="container-fluid">
    @foreach (var factory in Model.Factories)
    {
        <div class="panel panel-danger">
            <div class="panel-heading">@factory.FullName</div>
            <div class="panel-body">
                <div class="row chart-tumb-row" style="width:100%; margin-top:5px;">
                    @foreach (var processUnit in factory.ProcessUnits)
                    {
                        if (processUnit.HasDailyStatistics && !processUnit.IsDeleted)
                        {
                            <div id="@Model.ElementPrefix-@processUnit.Id" class="col-sm-3 pu-chart-holder" role="@Model.ElementRole"></div>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>
