<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=CollectingPrimaryDataSystem
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!--<add name="CollectingPrimaryDataSystemConnection" connectionString="Data Source=s-api-1;Initial Catalog=CollectingPrimaryDataSystem;User ID=api-remote;Password=Bmsyst3m;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		<add name="CollectingPrimaryDataSystemConnection" connectionString="Data Source=dev;Initial Catalog=CollectingPrimaryDataSystem;User ID=sapo;Password=K@lvad0s;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<!--<add name="CollectingPrimaryDataSystemConnection" connectionString="Data Source=.;Initial Catalog=CollectingPrimaryDataSystem;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="PHD_PORT" value="3150" />
		<add key="PHD_DATA_MIN_CONFIDENCE" value="49" />
		<add key="PHD_DATA_MAX_ROWS" value="1" />
		<!--<add key="ComplitionCheckDeactivared" value="true"/>-->
		<!--<add key="ComplitionEnergyCheckDeactivared" value="true"/>-->
		<!--<add key="ComplitionCheckHighwayPipelineDeactivared" value="true"/>-->
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
	<system.web>
		<compilation targetFramework="4.5.1" debug="true" />
		<httpRuntime targetFramework="4.5.1" maxRequestLength="52428800" />
		<!--<globalization enableClientBasedCulture="true" culture="auto:bg-BG" uiCulture="auto:bg-BG"/> To enable globalization-->
		<sessionState mode="StateServer" timeout="30" />
		<globalization enableClientBasedCulture="true" uiCulture="bg-BG" culture="bg-BG" />
		<!--<customErrors mode="On" defaultRedirect="/Content/ErrorPage/Error.html"/>-->
		<trace enabled="true" requestLimit="50" />
		<trust level="Full" />
		<!--Begin Health Monitoring Settings-->
		<!--Must run the command to create log tables and stored procedures-->
		<!--aspnet_regsql.exe -E -S .\ -d CollectingPrimaryDataSystem -A w-->
		<healthMonitoring enabled="true" heartbeatInterval="0">
			<bufferModes>
				<clear />
				<add name="Logging" maxBufferSize="1000" maxFlushSize="200" urgentFlushThreshold="800" regularFlushInterval="00:05:00" urgentFlushInterval="00:01:00" maxBufferThreads="1" />
			</bufferModes>
			<eventMappings>
				<clear />
				<add name="All Events" type="System.Web.Management.WebBaseEvent" startEventCode="0" endEventCode="2147483647" />
				<add name="Heartbeats" type="System.Web.Management.WebHeartbeatEvent" startEventCode="0" endEventCode="2147483647" />
				<add name="Application Lifetime Events" type="System.Web.Management.WebApplicationLifetimeEvent" startEventCode="0" endEventCode="2147483647" />
				<add name="Request Processing Events" type="System.Web.Management.WebRequestEvent" startEventCode="0" endEventCode="2147483647" />
				<add name="All Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647" />
				<add name="Infrastructure Errors" type="System.Web.Management.WebErrorEvent" startEventCode="0" endEventCode="2147483647" />
				<add name="Request Processing Errors" type="System.Web.Management.WebRequestErrorEvent" startEventCode="0" endEventCode="2147483647" />
				<add name="All Audits" type="System.Web.Management.WebAuditEvent" startEventCode="0" endEventCode="2147483647" />
				<add name="Failure Audits" type="System.Web.Management.WebFailureAuditEvent" startEventCode="0" endEventCode="2147483647" />
				<add name="Success Audits" type="System.Web.Management.WebSuccessAuditEvent" startEventCode="0" endEventCode="2147483647" />
				<add name="Authentication Failure" type="System.Web.Management.WebAuthenticationFailureAuditEvent" startEventCode="0" endEventCode="2147483647" />
			</eventMappings>
			<providers>
				<clear />
				<add connectionStringName="CollectingPrimaryDataSystemConnection" maxEventDetailsLength="1073741823" buffer="false" name="SqlWebEventProvider" type="System.Web.Management.SqlWebEventProvider" />
				<add connectionStringName="CollectingPrimaryDataSystemConnection" maxEventDetailsLength="1073741823" buffer="true" bufferMode="Logging" name="SqlWebEventProviderBuffered" type="System.Web.Management.SqlWebEventProvider" />
				<add type="System.Web.Management.SimpleMailWebEventProvider" name="EmailWebEventProvider" buffer="false" from="CollectingProductionDataSystem@bmsys.eu" to="kosta.kiryazov@bmsys.eu" cc="Nikolay.Kostadinov@bmsys.eu" subjectPrefix="Collecting Production Data System Runtime Error: " />
			</providers>
			<profiles>
				<clear />
				<add name="Audit Logs" minInstances="1" maxLimit="Infinite" minInterval="00:00:05" />
				<add name="Error Logs" minInstances="1" maxLimit="Infinite" minInterval="00:00:05" />
				<add name="Application Errors" minInstances="1" maxLimit="Infinite" minInterval="00:00:05" />
				<add name="Trace" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
				<add name="Default" minInstances="1" maxLimit="Infinite" minInterval="00:01:00" />
			</profiles>
			<rules>
				<clear />
				<!--<add name="All Audits Default" eventName="All Audits" provider="SqlWebEventProviderBuffered" profile="Audit Logs"/>-->
				<add name="All Errors Default" eventName="All Errors" provider="SqlWebEventProvider" profile="Error Logs" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
				<add name="All Authentication Failure Default" eventName="Authentication Failure" provider="SqlWebEventProvider" profile="Error Logs" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
				<!--<add name="Application Events Default" eventName="All Events" provider="SqlWebEventProvider" profile="Application Errors" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />-->
				<add name="All Errors To E-MailN" eventName="All Errors" provider="EmailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
				<add name="All Authentication Failure To E-MailN" eventName="Authentication Failure" provider="EmailWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" />
			</rules>
		</healthMonitoring>
		<caching>
			<outputCache enableFragmentCache="true" />
		</caching>
		<!--End Health Monitoring Settings-->
		<machineKey validationKey="024A92A0F791C5C140EF8E51F201C18427B9444BE56121FDEE110690AC1E6A871C23E55F8818EE4482178FBEABD9D2E955104D9D5C1182C7B43C32D4BD87B872" decryptionKey="5B71D0219354AB3123B22D3C48A92F6173EC8A09B3D558EB" validation="SHA1" />
	</system.web>
	<system.webServer>
		<httpErrors existingResponse="PassThrough" />
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<staticContent>
			<remove fileExtension=".eot" />
			<remove fileExtension=".ttf" />
			<remove fileExtension=".otf" />
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<mimeMap fileExtension=".ttf" mimeType="font/ttf" />
			<mimeMap fileExtension=".otf" mimeType="font/otf" />
			<mimeMap fileExtension=".woff" mimeType="font/x-woff" />
			<mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
		</staticContent>
		<urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true" />
		<httpCompression noCompressionForHttp10="false" noCompressionForProxies="false" dynamicCompressionDisableCpuUsage="93" dynamicCompressionEnableCpuUsage="93" staticCompressionDisableCpuUsage="99" staticCompressionEnableCpuUsage="99">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="7" dynamicCompressionLevel="4" />
			<scheme name="deflate" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="7" dynamicCompressionLevel="4" />
			<staticTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="text/*; charset=utf-8" enabled="true" />
				<add mimeType="message/*" enabled="true" />
				<add mimeType="test/javascript" enabled="true" />
				<add mimeType="text/javascript; charset=utf-8" enabled="true" />
				<add mimeType="application/json; charset=utf-8" enabled="true" />
				<add mimeType="application/json" enabled="true" />
				<add mimeType="application/x-javascript" enabled="true" />
				<add mimeType="image/jpeg" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</staticTypes>
			<dynamicTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="text/*; charset=utf-8" enabled="true" />
				<add mimeType="message/*" enabled="true" />
				<add mimeType="text/javascript" enabled="true" />
				<add mimeType="text/javascript; charset=utf-8" enabled="true" />
				<add mimeType="application/x-javascript" enabled="true" />
				<add mimeType="application/json; charset=utf-8" enabled="true" />
				<add mimeType="application/json" enabled="true" />
				<add mimeType="image/jpeg" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</dynamicTypes>
		</httpCompression>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="52428800" />
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<!-- Add the email settings to the <system.net> element -->
	<system.net>
		<mailSettings>
			<smtp>
				<network host="192.168.7.195" port="25" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>