@using Resources = App_GlobalResources.Resources
@model System.Int32
@(Html.Kendo()
    .DropDownListFor(m => m)
    .OptionLabel(Resources.Layout.ChooseProcessUnit)
    .DataTextField("Name")
    .DataValueField("Id")
    .Height(520)
    .DataSource(source =>
    {
              source.Read(read =>
              {
                  read.Action("GetAllProcessUnits", "Ajax", new { area = "" }).Data("sendAntiForgery").Type(HttpVerbs.Post);
              }); 
    })
    .Filter(FilterType.Contains)
          //.HeaderTemplate("<div class=\"dropdown-header\">" +
          //              "<div class=\"k-widget k-header k-code-header\">" + Resources.Layout.Code + "</div>" +
          //                      "<div class=\"k-widget k-header k-name-header\">" + Resources.Layout.Name + "</div>" +
          //          "</div>")
          //    .Template("<div class=\"k-state-default k-code\">#:data.Code#</div>" +
          //                  "<div class=\"k-state-default k-name\">#: data.Name #</div>")

)


