@using CollectingProductionDataSystem.Models.UtilityEntities;

@model UserProfile
@{
    ViewBag.Title = "Index";
}

<h2>User's properties</h2>
@if (Model != null)
{
    @Html.DisplayFor(m => m.UserName)

    <ul>
        <h3>Roles for this user</h3>
        @Html.DisplayFor(m => m.UserRoles)
    </ul>
}
else
{
    @:There is no authenticated user
}

